#Python

Python is a popular, high-level, general-purpose programming language known for its simplicity and readability. It was created by Guido van Rossum in 1991, with a strong focus on enhancing code readability and developer productivity.

# Key features and characteristics:

***Easy to Learn and Use:*** Python's simplified syntax and reliance on indentation (rather than curly brackets) make it an ideal choice for beginners and enhance code readability.

**Interpreted Language: **Python code is executed line by line, facilitating faster testing and debugging during development.

***Dynamically Typed:*** Python automatically determines variable types at runtime, reducing the need for explicit type declarations and increasing coding flexibility.

***High-Level Language:*** Python abstracts away low-level details like memory management, allowing developers to focus on problem-solving.

***Supports Multiple Programming Paradigms:*** Python is a multi-paradigm language, supporting object-oriented, procedural, and functional programming styles.

***Extensive Libraries and Frameworks:*** Python boasts a vast ecosystem of libraries and frameworks for various tasks, including web development (Django, Flask), data analysis (Pandas, NumPy), machine learning (TensorFlow, PyTorch), and more.

***Cross-Platform Compatibility:*** Python code can run on various operating systems like Windows, macOS, and Linux without modification.

***Large and Active Community:*** A thriving community contributes to Python's growth, offers extensive documentation, tutorials, and support, and continuously improves the language.

***Open Source:*** Python is free to use, distribute, and modify, fostering innovation and collaboration.

#***Applications and uses***
Python is a versatile language employed in various industries and domains.
Web Development, Data Science and Analysis, Machine Learning and Artificial Intelligence, Automation and Scripting, Software Development, Game Development, Scientific Computing, Everyday Tasks

#python version and how to install python
While Python 2 was once widely used, it is now considered obsolete, with its end-of-life declared in 2020.

 Python 3 has since emerged as the preferred choice for new projects and continues to be actively developed and supported by a vast community.


Here's a comparison of key differences:
Feature
Python 2 version:
Print Statement	print "Hello" (statement)

python 3 version:	print("Hello") (function)

Backward Compatibility	Difficult to port to Python 3	Not backward compatible with Python 2

Recommendation: If you are starting a new Python project, it is strongly recommended to use Python 3.

Installing Python 3

Download: Visit the official Python.org website and download the latest stable version of Python 3.

Run the Installer: Execute the downloaded installer. Be sure to check the box to "Add Python to PATH" during installation, as this makes it easier to run Python from the command line.

Verify: Open a terminal or command prompt and type python --version (or python3 --version on some systems) to confirm the installation.

Installing and setting up IDEs for Python Development
Integrated Development Environments (IDEs) enhance the Python development experience with features like code completion, debugging, and project management.

Here are instructions for installing popular choices:
VS Code (Visual Studio Code)
Download and Install VS Code: Visit the Visual Studio Code website and download the installer for your operating system (Windows, macOS, or Linux).

Install Python Extension: Open VS Code, go to the Extensions view (Ctrl+Shift+X), search for "Python", and install the official Python extension by Microsoft.

Select Interpreter: Open the Command Palette (Ctrl+Shift+P), type "Python: Select Interpreter", and choose the Python 3 installation you installed earlier.

Create a Project Folder: Open a folder in VS Code to serve as your workspace.

PyCharm
Download PyCharm Community Edition: Go to the PyCharm website and download the free Community Edition installer.

Run the Installer: Execute the installer and follow the setup wizard.

Launch PyCharm: Open PyCharm. You can create a new project and select the Python interpreter you want to use.

Jupyter Notebook
Install Jupyter (if not already part of an Anaconda distribution): Open a terminal or command prompt and run pip install notebook.

Launch Jupyter Notebook: After installation, open a terminal or command prompt and run jupyter notebook. This will launch Jupyter Notebook in your web browser.

Create a New Notebook: Inside Jupyter Notebook, you can create new notebooks to combine code, output, and text in a single document.

# Python scripts and the Python interpreter
What is a Python script?
A Python script is essentially a file containing a set of instructions written in Python that can be executed by the Python interpreter. These scripts are designed to perform various tasks, from simple calculations to more complex operations like web scraping, data analysis, and even web development. Python scripts are saved with the .py extension.
What is a Python interpreter?
The Python interpreter is a program that reads, executes, and translates Python code into machine-readable instructions, allowing the computer to understand and follow the instructions within a Python script. It acts as a bridge between the human-written code and the computer's hardware, executing instructions line by line. Python is considered an interpreted language because of this direct execution without prior translation into machine code.
How the Python interpreter works with scripts
When you run a Python script, the interpreter performs a sequence of actions:
Source Code Analysis (Lexical Analysis): The interpreter first analyzes the Python code in your script, breaking it down into a series of tokens (keywords, operators, etc.).
Parsing: These tokens are then parsed into an Abstract Syntax Tree (AST), which represents the hierarchical structure of the code, checking for syntax errors in the process.
Bytecode Compilation: The AST is then compiled into bytecode, an intermediate, platform-independent representation of the code. This bytecode is executed by the Python Virtual Machine (PVM). The PVM is the actual runtime engine of Python, translating the bytecode into machine code (binary - 0s and 1s) and executing it on the hardware.
Execution: The Python Virtual Machine (PVM) then reads and executes the bytecode, carrying out the instructions in your script.
Output (and Error Handling): If the execution is successful, the interpreter produces any specified output (e.g., printing text to the console). If errors occur during execution, they are identified and displayed, and the interpreter may halt the process.
Note: The .pyc files that are generated and stored with your Python scripts contain compiled bytecode that the interpreter can execute directly, optimizing execution, especially for larger scripts.

In [ ]:
#first python program
print("Manoj Adithya Reddy")

Manoj Adithya Reddy

#Python Basics

python is dynamical typed language means no one to declare a variable name

#Syntax
Python's syntax, or the set of rules governing how code is written and structured, is designed to be clear and readable.

In [ ]:
print("reddy")

reddy

#Indentation

Indentation means adding spaces or tabs at the beginning of a line to define a code block or structure.

In [ ]:
# Correct Indentation
for i in range(3):
    print("Level 1")       # 4 spaces
    if i % 2 == 0:
        print("Level 2")   # 8 spaces

Level 1
Level 2
Level 1
Level 1
Level 2

In [ ]:
# Incorrect Indentation (will cause error)
#for i in range(3):#colons after give the space
#compulsory give 4 spaces print("Hello")  # ❌ No indentation after for loop

#Variables & Data Types

a variable is a name used to store and reference values in a program.

Python includes several built-in data types such as numeric types (integers, floats, complex), text types (strings), sequence types (lists, tuples, range), mapping types (dictionaries), set types (sets, frozensets), boolean types (True/False), and binary types (bytes, bytearray, memoryview).

In [ ]:
#data types
#numeric types int,float,complex

number = 21 #int  #number is variable
print(number)

values = 87.9 #float
print(values)

complex_number = 2 + 3j #complex
print(complex_number)

21
87.9
(2+3j)

text type

In [ ]:
#string
name = "I am watching cinema" #compulsory mentio the quotations
print(name)

I am watching cinema

sequence type

In [ ]:
#list
list = [1,2,3,4,5] #using square brackets
print(list)

#tuple
tuple = (1,2,3,4,5) #using parentheses
print(tuple)

#range
range = range(1,10)
print(range)

mapping type

In [ ]:
#dict
dict = {"name":"manoj","age":21} #using curly brackets
print(dict)

{'name': 'manoj', 'age': 21}

set type

In [ ]:
#set
set = {1,2,3,4,5} #using curly brackets
print(set)

#frozenset
frozenset = frozenset({1,2,3,4,5}) #using curly brackets and parentheses
print(frozenset)

{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})

boolean type

In [ ]:
#boolean
boolean = True #True or False
print(boolean)

True

binary types

In [ ]:
#bytes
# Creating bytes
b = b"Hello"                      # bytes literal
b2 = bytes("Hello", "utf-8")      # from string
b3 = bytes([72, 101, 108, 108, 111])  # from list of ints

print(b[0])  # 72  (ASCII of 'H')
print(b[1:3])  # b'el'

72
b'el'

In [ ]:
ba = bytearray(b"Hello")
ba[0] = 74          # Change 'H' (72) to 'J' (74)
print(ba)           # bytearray(b'Jello')

ba.append(33)       # Add '!' (ASCII 33)
print(ba)           # bytearray(b'Jello!')

bytearray(b'Jello')
bytearray(b'Jello!')

In [ ]:
b = bytearray(b"Python")
mv = memoryview(b)

print(mv[0])     # 80 (ASCII of 'P')
mv[0] = 74       # Change 'P' → 'J'
print(b)         # bytearray(b'Jython')  (changed in original)

80
bytearray(b'Jython')

#Type Casting (also called Type Conversion) in Python means changing a value from one data type to another.

Done automatically by Python.

No data loss (safe conversion).

Usually happens when combining different numeric types.

In [ ]:
x = 10      # int
y = 2.5     # float
z = x + y   # int + float → float
print(z)    # 12.5
print(type(z))  # <class 'float'>

12.5
<class 'float'>

In [ ]:
# String to int
a = "123"
b = int(a)
print(b, type(b))  # 123 <class 'int'>

# Float to int (loses decimal part)
print(int(9.99))  # 9

# List to tuple
print(tuple([1, 2, 3]))  # (1, 2, 3)

# Int to string
print(str(100) + " apples")  # "100 apples"

123 <class 'int'>
9
(1, 2, 3)
100 apples

Input in Python
Python uses the input() function to get user input as a string.

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: manoj
Hello, manoj

In [ ]:
age = int(input("Enter your age: "))
height = float(input("Enter your height in meters: "))
print("Age:", age, "Height:", height)

Enter your age: 21
Enter your height in meters: 5.8
Age: 21 Height: 5.8

 Output in Python
Python uses print() to display output to the console.

In [ ]:
print("Hello World")

Hello World

In [ ]:
x, y = 5, 10
print("x =", x, "y =", y)

x = 5 y = 10

Parameter	Description

sep	Separator between values (default = " ")

end	String to append after printing (default = newline "\n")


file	Output stream (default = sys.stdout)

flush	If True, forces output to appear immediately

In [ ]:
print("A", "B", "C", sep="-")    # A-B-C
print("Hello", end=" ")          # Hello (no newline)
print("World")                   # World

A-B-C
Hello World

In [ ]:
name = "Manoj Adithya Reddy"
age = 21
print(f"My name is {name} and I am {age} years old.")

My name is Manoj Adithya Reddy and I am 21 years old.

format() is used to create well-structured and readable strings by inserting values into placeholders.

| Format Code | Meaning                     |
| ----------- | --------------------------- |
| `d`         | Integer                     |
| `f`         | Floating point              |
| `.nf`       | Floating point (n decimals) |
| `b`         | Binary                      |
| `o`         | Octal                       |
| `x` / `X`   | Hexadecimal                 |
| `,`         | Comma separator             |
| `_`         | Underscore separator        |
| `<`         | Left align                  |
| `>`         | Right align                 |
| `^`         | Center align                |

In [ ]:
# Positional
print("{0} is {1} years old".format("Bob", 30))

# Keyword
print("{name} is {age} years old".format(name="manoj", age=21))

Bob is 30 years old
manoj is 21 years old

In [ ]:
# Decimal places
pi = 3.14159265
print("{:.2f}".format(pi))   # 3.14

# Width and alignment
print("{:>10}".format("Hi"))  # Right align (width 10)
print("{:<10}".format("Hi"))  # Left align
print("{:^10}".format("Hi"))  # Center align

3.14
        Hi
Hi
    Hi

In [ ]:
name = "manoj"
score = 95.6789
print(f"{name} scored {score:.2f}")  # Alice scored 95.68

manoj scored 95.68

In [ ]:
# Integer
print("{:d}".format(25))

# Binary, Octal, Hex
print("{:b}".format(12))  # 1100
print("{:o}".format(12))  # 14
print("{:x}".format(12))  # c

25
1100
14
c

Old % Formatting

In [ ]:
print("My name is %s and I am %d years old." % (name, age))

My name is manoj and I am 21 years old.

File Input / Output
For reading and writing files:

In [ ]:
# Writing to a file
with open("test.txt", "w") as f:
    f.write("Hello File\n")

# Reading from a file
with open("test.txt", "r") as f:
    content = f.read()
    print(content)

Hello File

| Function      | Purpose                             |
| ------------- | ----------------------------------- |
| `input()`     | Get user input (string)             |
| `print()`     | Display output to console           |
| `open()`      | Open a file for reading/writing     |
| `read()`      | Read entire file                    |
| `readline()`  | Read one line from file             |
| `write()`     | Write to a file                     |
| `with open()` | Context manager for file operations |

Comments (Single-line, Multi-line)

What Are Comments?

Comments are ignored by Python — they’re only for humans reading the code.

They make your code easier to understand.

Single-Line Comments
Begin with # (hash symbol).

Everything after # on that line is ignored by Python.

In [ ]:
# This is a single-line comment
print("Hello World")  # This is also a single-line comment

Hello World

Multi-Line Comments
Python doesn’t have a dedicated multi-line comment syntax like /* */ in C or Java.
Instead, we use:

In [ ]:
# This is line 1 of a multi-line comment
# This is line 2
# This is line 3

Triple Quotes (''' or """)
Technically, triple-quoted strings are string literals, not real comments.

If they’re not assigned to a variable or used as a docstring, Python ignores them.

In [ ]:
"""
This is a multi-line comment
spanning multiple lines
using triple double quotes
"""

'''
You can also use triple single quotes
for multi-line comments
'''

'\nYou can also use triple single quotes\nfor multi-line comments\n'

 Docstrings vs Comments

Comments → purely ignored by Python.

Docstrings → stored in the program for documentation (help() uses them).

In [ ]:
def greet():
    """This function prints a greeting message."""
    print("Hello")

In [ ]:
def greet():
    """This function prints a greeting message."""
    print("Hello")
print(greet.__doc__)

This function prints a greeting message.

Keywords

In [ ]:
"""
False, None, True,
and, as, assert,
async, await,
break, class, continue,
def, del,
elif, else, except,
finally,
for, from,
global, if, import,
in, is,
lambda,
nonlocal, not, or,
pass, raise, return,
try,
while,
with,
yield
"""

'False, None, True,\nand, as, assert,\nasync, await,\nbreak, class, continue,\ndef, del,\nelif, else, except,\nfinally,\nfor, from,\nglobal, if, import,\nin, is,\nlambda,\nnonlocal, not, or,\npass, raise, return,\ntry,\nwhile,\nwith,\nyield\n'

Hard keywords define language structure (conditional, loops, declarations, etc.).

Soft keywords like match/case are part of newer syntax features (e.g., structural pattern matching).

In [ ]:
import keyword

print(keyword.kwlist)       # List of hard keywords
print(keyword.softkwlist)   # List of soft keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
['_', 'case', 'match']

#Operators

#Arithmetic operator

| Operator | Description         | Example  | Output |
| -------- | ------------------- | -------- | ------ |
| `+`      | Addition            | `5 + 3`  | `8`    |
| `-`      | Subtraction         | `5 - 3`  | `2`    |
| `*`      | Multiplication      | `5 * 3`  | `15`   |
| `/`      | Division (float)    | `5 / 2`  | `2.5`  |
| `//`     | Floor division      | `5 // 2` | `2`    |
| `%`      | Modulus (remainder) | `5 % 2`  | `1`    |
| `**`     | Exponentiation      | `2 ** 3` | `8`    |

In [ ]:
#addition
x = 5
y = 9
print(x+y)

14

In [ ]:
#subtraction
print(x-y)

-4

In [ ]:
#multiplication
print(x*y)

45

In [ ]:
#division

print(x/y)

0.5555555555555556

In [ ]:
#floor divisiom
print(x//y)

0

In [ ]:
#modulus
print(x%y)

5

In [ ]:
#exponentiation
print(x**y)

1953125

#Assignments operator

| Operator | Meaning               | Example   |
| -------- | --------------------- | --------- |
| `=`      | Assign value          | `x = 5`   |
| `+=`     | Add & assign          | `x += 3`  |
| `-=`     | Subtract & assign     | `x -= 3`  |
| `*=`     | Multiply & assign     | `x *= 3`  |
| `/=`     | Divide & assign       | `x /= 3`  |
| `//=`    | Floor divide & assign | `x //= 3` |
| `%=`     | Modulus & assign      | `x %= 3`  |
| `**=`    | Power & assign        | `x **= 3` |

In [ ]:
#asign value
x = 96

In [ ]:
#add & assign
x += 3
print(x)

99

In [ ]:
#subtract
x -= 3
print(x)

96

In [ ]:
#multiply
x *= 4
print(x)

384

In [ ]:
#divide
x /= 4
print(x)

96.0

In [ ]:
#floor divison
x //= 5
print(x)

19.0

In [ ]:
#modulus
x %= 8
print(x)

3.0

In [ ]:
#power
x **= 3
print(x)

27.0

# comparsion operators

| Operator | Meaning          | Example  | Output  |
| -------- | ---------------- | -------- | ------- |
| `==`     | Equal            | `5 == 3` | `False` |
| `!=`     | Not equal        | `5 != 3` | `True`  |
| `>`      | Greater than     | `5 > 3`  | `True`  |
| `<`      | Less than        | `5 < 3`  | `False` |
| `>=`     | Greater or equal | `5 >= 3` | `True`  |
| `<=`     | Less or equal    | `5 <= 3` | `False` |

In [ ]:
#equal
x = 5
y = 5
z = 7
print(x == y)
print(x == z)

True
False

In [ ]:
#not equal
print(x != y)
print(x != z)

False
True

In [ ]:
#greater than
print(x > y)
print(x > z)

False
False

In [ ]:
#less than
print(x < y)
print(x < z)

False
True

In [ ]:
#greater or equal
print(x >= y)
print(x >= z)

True
False

In [ ]:
#less or equal
print(x <= y)
print(x <= z)
#

True
True

#Logical operator

| Operator | Meaning               | Example               | Output  |
| -------- | --------------------- | --------------------- | ------- |
| `and`    | True if both are True | `(5 > 3) and (3 > 1)` | `True`  |
| `or`     | True if one is True   | `(5 > 3) or (3 < 1)`  | `True`  |
| `not`    | True if False         | `not(5 > 3)`          | `False` |

In [ ]:
#and

x = 5
y = 4
z = 7
v = 2
print(x > y) and (z > v)

True

In [ ]:
# or
print(x > y) and (z < v)

True

In [ ]:
#not

print(not(z > y))

False

#Identity Operator

| Operator | Meaning                      | Example      | Output       |
| -------- | ---------------------------- | ------------ | ------------ |
| `is`     | True if both are same object | `a is b`     | `True/False` |
| `is not` | True if not same object      | `a is not b` | `True/False` |

In [ ]:
# is
a = True
b = False
c = a
print(a is b)
print(a is not c)

False
False

In [ ]:
# is
a = 7
b = 8
c = a
print(a is b)
print(a is not c)

False
True

#Membership operator

| Operator | Meaning                       | Example            | Output |
| -------- | ----------------------------- | ------------------ | ------ |
| `in`     | True if value in sequence     | `"a" in "cat"`     | `True` |
| `not in` | True if value not in sequence | `"x" not in "cat"` | `True` |

In [ ]:
# in
a = "cat is a animal"

# Example 1
print("a" in "cat")   # Checks if 'a' is in "cat"

# Example 2
print("n" not in "cat")  # Checks if 'x' is not in "cat"

True
True

#Bitwise Opertor

| Operator | Meaning     | Example                 | Output |   |
| -------- | ----------- | ----------------------- | ------ | - |
| `&`      | AND         | `5 & 3` → `101 & 011`   | `1`    |   |
| `\|`     | OR          | `5 \| 3` → `101 \| 011` | `7`    |   |
| `^`      | XOR         | `5 ^ 3` → `101 ^ 011`   | `6`    |   |
| `~`      | NOT         | `~5`                    | `-6`   |   |
| `<<`     | Left shift  | `5 << 1`                | `10`   |   |
| `>>`     | Right shift | `5 >> 1`                | `2`    |   |

In [ ]:
x = 8
y = 5
print(x & y)

0

In [ ]:
print(x | y)

13

In [ ]:
print(x ^ y)

13

In [ ]:
print(~x)

-9

In [ ]:
print(x << 1)

16

In [ ]:
print(y>>1)

2

#Control Flow

#if

if is a control flow statement used to make decisions in your program.
It lets you run a block of code only if a given condition is True.

In Python, if, elif, and else are conditional statements that control program flow based on conditions.

| Statement | Meaning                                         | Example        |
| --------- | ----------------------------------------------- | -------------- |
| `if`      | Runs a block if condition is **True**           | `if x > 0:`    |
| `elif`    | Checks next condition if previous was **False** | `elif x == 0:` |
| `else`    | Runs if all above are **False**                 | `else:`        |

| Keyword    | Purpose                                                                | Example                                                                                                             | Example Output |
| ---------- | ---------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------- | -------------- |
| **`if`**   | Executes **only if** the condition is `True`.                          | `python\nx = 5\nif x > 0:\n    print("Positive")\n`                                                                 | `Positive`     |
| **`elif`** | Checked **only if** all previous `if` / `elif` conditions are `False`. | `python\nx = 0\nif x > 0:\n    print("Positive")\nelif x == 0:\n    print("Zero")\n`                                | `Zero`         |
| **`else`** | Executes if **all previous conditions are False**.                     | `python\nx = -3\nif x > 0:\n    print("Positive")\nelif x == 0:\n    print("Zero")\nelse:\n    print("Negative")\n` | `Negative`     |

In [ ]:
x = 15

if x > 20:
    print("x is greater than 20")
elif x > 10:
    print("x is greater than 10 but less than or equal to 20")
else:
    print("x is 10 or less")

x is greater than 10 but less than or equal to 20

Nested if Statement in Python
Meaning
A nested if means placing one if statement inside another.
The inner if runs only if the outer if is True.

In [ ]:
# Check eligibility for driving and voting
age = 20
has_license = True

if age >= 18:  # Outer if
    print("You are an adult.")

    if has_license:  # Inner if
        print("You can drive.")
    else:
        print("You need a driving license.")
else:
    print("You are not an adult.")

You are an adult.
You can drive.

#Loops

A loop in Python is a control structure that repeats a block of code multiple times until a certain condition is met

for Loop — Iterates over a sequence (list, string, tuple, etc.)

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

while loop → Repeats as long as a condition is True.

In [ ]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

Break

Stops the loop immediately, no matter if more items remain.

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

continue

Skips the rest of the code for the current loop iteration and moves to the next iteration.

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

Pass

Does nothing — used as a placeholder when you need an empty block.

In [ ]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

#Data Structures

| Type      | Ordered? | Mutable? | Allows Duplicates? | Example            |
| --------- | -------- | -------- | ------------------ | ------------------ |
| **List**  | ✅ Yes    | ✅ Yes    | ✅ Yes              | `[1, 2, 3]`        |
| **Tuple** | ✅ Yes    | ❌ No     | ✅ Yes              | `(1, 2, 3)`        |
| **Set**   | ❌ No     | ✅ Yes    | ❌ No               | `{1, 2, 3}`        |
| **Dict**  | ✅ Yes    | ✅ Yes    | Keys ❌ Duplicates  | `{"a": 1, "b": 2}` |

***ordered*** means that the elements in a data structure maintain the same sequence (order) in which they were added.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

***unordered*** : The elements inside the collection do not have a fixed position or sequence, and Python does not guarantee they will be stored or retrieved in the same order they were added.

In [ ]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

Mutable
Means changeable — you can modify the object’s contents without creating a new object.

You can add, remove, or change elements in place.

Examples:

list

dict

set

bytearray

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "mango"   # Changing an element
print(fruits)

['apple', 'mango', 'cherry']

Immutable
Means unchangeable — once created, the object’s contents cannot be altered.

Any change creates a new object in memory.

Examples:

tuple

str

int

float

bool

frozenset

bytes

In [ ]:
name = "John"
name = name.replace("J", "R")
print(name)

Rohn

#Strings

 Strings in Python
A string is a sequence of characters enclosed in single quotes '...', double quotes "...", or triple quotes '''...''' / """...""".

Strings are immutable (cannot be changed after creation).

Strings are ordered → characters have a fixed position.

Indexing
Indexing means accessing individual characters in a string.

Positive indexing → Starts from 0 (first character).

Negative indexing → Starts from -1 (last character).

In [ ]:
text = "Manoj"

# Positive Indexing
print(text[0])   # First character
print(text[2])   # Third character

# Negative Indexing
print(text[-1])  # Last character
print(text[-3])  # Third from last

M
n
j
n

Slicing
Slicing extracts a substring from a string using:

string[start:end:step]

start → starting index (inclusive)

end → ending index (exclusive)

step → jump between characters (default = 1)

In [ ]:
text = "Python"

# Basic slicing
print(text[0:4])    # Characters from index 0 to 3
print(text[2:])     # From index 2 to end
print(text[:4])     # From start to index 3

# Using step
print(text[0:6:2])  # Every 2nd character from index 0 to 5

# Negative slicing
print(text[-4:-1])  # From 3rd to last till 2nd last
print(text[::-1])   # Reverse the string

Pyth
thon
Pyth
Pto
tho
nohtyP

Quick Cheat

| Syntax              | Meaning                       |
| ------------------- | ----------------------------- |
| `s[i]`              | i-th character                |
| `s[-i]`             | i-th from the end             |
| `s[start:end]`      | substring from start to end-1 |
| `s[start:]`         | substring from start to end   |
| `s[:end]`           | substring from start to end-1 |
| `s[start:end:step]` | substring with step size      |
| `s[::-1]`           | reverse string                |

String Methods

| Method                | Description                                   | Example                              | Output            |
| --------------------- | --------------------------------------------- | ------------------------------------ | ----------------- |
| `capitalize()`        | First letter uppercase, rest lowercase        | `"hello".capitalize()`               | `"Hello"`         |
| `casefold()`          | Lowercase (aggressive, for caseless matching) | `"HELLO".casefold()`                 | `"hello"`         |
| `center(width, char)` | Centers string                                | `"hi".center(6, "-")`                | `"--hi--"`        |
| `count(sub)`          | Counts occurrences                            | `"banana".count("a")`                | `3`               |
| `endswith(suffix)`    | Checks if string ends with suffix             | `"test.py".endswith(".py")`          | `True`            |
| `startswith(prefix)`  | Checks if string starts with prefix           | `"Python".startswith("Py")`          | `True`            |
| `find(sub)`           | First index of substring or `-1`              | `"apple".find("p")`                  | `1`               |
| `rfind(sub)`          | Last index of substring                       | `"apple".rfind("p")`                 | `2`               |
| `format()`            | Formats string                                | `"{} is {}".format("Python", "fun")` | `"Python is fun"` |
| `index(sub)`          | First index or error if not found             | `"apple".index("p")`                 | `1`               |
| `isalnum()`           | True if all alphanumeric                      | `"abc123".isalnum()`                 | `True`            |
| `isalpha()`           | True if all alphabetic                        | `"abc".isalpha()`                    | `True`            |
| `isdigit()`           | True if all digits                            | `"123".isdigit()`                    | `True`            |
| `islower()`           | True if all lowercase                         | `"hello".islower()`                  | `True`            |
| `isupper()`           | True if all uppercase                         | `"HELLO".isupper()`                  | `True`            |
| `isspace()`           | True if all spaces                            | `"   ".isspace()`                    | `True`            |
| `istitle()`           | True if title case                            | `"Hello World".istitle()`            | `True`            |
| `join(iterable)`      | Joins iterable with string                    | `"-".join(["a","b"])`                | `"a-b"`           |
| `lower()`             | Converts to lowercase                         | `"HELLO".lower()`                    | `"hello"`         |
| `upper()`             | Converts to uppercase                         | `"hello".upper()`                    | `"HELLO"`         |
| `lstrip()`            | Removes left spaces                           | `"   hi".lstrip()`                   | `"hi"`            |
| `rstrip()`            | Removes right spaces                          | `"hi   ".rstrip()`                   | `"hi"`            |
| `strip()`             | Removes spaces both sides                     | `"  hi  ".strip()`                   | `"hi"`            |
| `replace(old,new)`    | Replace substring                             | `"one one".replace("one","two")`     | `"two two"`       |
| `split(sep)`          | Splits into list                              | `"a,b,c".split(",")`                 | `['a','b','c']`   |
| `rsplit(sep)`         | Splits from right                             | `"a,b,c".rsplit(",",1)`              | `['a','b,c']`     |
| `splitlines()`        | Split at line breaks                          | `"a\nb".splitlines()`                | `['a','b']`       |
| `swapcase()`          | Swap case                                     | `"HeLLo".swapcase()`                 | `"hEllO"`         |
| `title()`             | Title case                                    | `"hello world".title()`              | `"Hello World"`   |
| `zfill(width)`        | Pads with zeros                               | `"42".zfill(5)`                      | `"00042"`         |

In [ ]:
# Python String Methods Demonstration

print("capitalize()  ->", "hello".capitalize())                # "Hello"
print("casefold()    ->", "HELLO".casefold())                   # "hello"
print("center()      ->", "hi".center(6, "-"))                  # "--hi--"
print("count()       ->", "banana".count("a"))                  # 3
print("endswith()    ->", "test.py".endswith(".py"))             # True
print("startswith()  ->", "Python".startswith("Py"))             # True
print("find()        ->", "apple".find("p"))                     # 1
print("rfind()       ->", "apple".rfind("p"))                    # 2
print("format()      ->", "{} is {}".format("Python", "fun"))    # "Python is fun"
print("index()       ->", "apple".index("p"))                    # 1
print("isalnum()     ->", "abc123".isalnum())                    # True
print("isalpha()     ->", "abc".isalpha())                       # True
print("isdigit()     ->", "123".isdigit())                       # True
print("islower()     ->", "hello".islower())                     # True
print("isupper()     ->", "HELLO".isupper())                     # True
print("isspace()     ->", "   ".isspace())                       # True
print("istitle()     ->", "Hello World".istitle())               # True
print("join()        ->", "-".join(["a", "b"]))                  # "a-b"
print("lower()       ->", "HELLO".lower())                       # "hello"
print("upper()       ->", "hello".upper())                       # "HELLO"
print("lstrip()      ->", "   hi".lstrip())                      # "hi"
print("rstrip()      ->", "hi   ".rstrip())                      # "hi"
print("strip()       ->", "  hi  ".strip())                      # "hi"
print("replace()     ->", "one one".replace("one", "two"))       # "two two"
print("split()       ->", "a,b,c".split(","))                    # ['a', 'b', 'c']
print("rsplit()      ->", "a,b,c".rsplit(",", 1))                 # ['a', 'b,c']
print("splitlines()  ->", "a\nb".splitlines())                    # ['a', 'b']
print("swapcase()    ->", "HeLLo".swapcase())                     # "hEllO"
print("title()       ->", "hello world".title())                  # "Hello World"
print("zfill()       ->", "42".zfill(5))                          # "00042"

capitalize()  -> Hello
casefold()    -> hello
center()      -> --hi--
count()       -> 3
endswith()    -> True
startswith()  -> True
find()        -> 1
rfind()       -> 2
format()      -> Python is fun
index()       -> 1
isalnum()     -> True
isalpha()     -> True
isdigit()     -> True
islower()     -> True
isupper()     -> True
isspace()     -> True
istitle()     -> True
join()        -> a-b
lower()       -> hello
upper()       -> HELLO
lstrip()      -> hi
rstrip()      -> hi
strip()       -> hi
replace()     -> two two
split()       -> ['a', 'b', 'c']
rsplit()      -> ['a,b', 'c']
splitlines()  -> ['a', 'b']
swapcase()    -> hEllO
title()       -> Hello World
zfill()       -> 00042

Indexing means accessing elements by their position (starting from 0 for the first item).

list Indexing

| Syntax        | Meaning                          | Example      | Output     |
| ------------- | -------------------------------- | ------------ | ---------- |
| `list[index]` | Access element at given position | `fruits[0]`  | `"apple"`  |
| `list[-1]`    | Access last element              | `fruits[-1]` | `"cherry"` |

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0])   # First element
print(fruits[2])   # Third element
print(fruits[-1])  # Last element
print(fruits[-2])  # Second last element

apple
cherry
date
cherry

Slicing

| Syntax                 | Meaning                   | Example        | Output                                  |
| ---------------------- | ------------------------- | -------------- | --------------------------------------- |
| `list[start:end]`      | From start index to end-1 | `fruits[1:3]`  | `["banana", "cherry"]`                  |
| `list[:n]`             | From start to index n-1   | `fruits[:2]`   | `["apple", "banana"]`                   |
| `list[n:]`             | From index n to end       | `fruits[2:]`   | `["cherry", "date"]`                    |
| `list[start:end:step]` | Skip elements             | `fruits[::2]`  | `["apple", "cherry"]`                   |
| `list[::-1]`           | Reverse list              | `fruits[::-1]` | `["date", "cherry", "banana", "apple"]` |

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[1:3])     # Index 1 to 2
print(fruits[:2])      # First two elements
print(fruits[2:])      # From index 2 to end
print(fruits[::2])     # Every 2nd element
print(fruits[::-1])    # Reverse list

['banana', 'cherry']
['apple', 'banana']
['cherry', 'date']
['apple', 'cherry']
['date', 'cherry', 'banana', 'apple']

Common List Methods

| Method               | Description                                     | Example                             | Output                                                    |
| -------------------- | ----------------------------------------------- | ----------------------------------- | --------------------------------------------------------- |
| `append(x)`          | Add item at the end                             | `fruits.append("fig")`              | `['apple', 'banana', 'cherry', 'date', 'fig']`            |
| `insert(i, x)`       | Insert at index `i`                             | `fruits.insert(1, "kiwi")`          | `['apple', 'kiwi', 'banana', 'cherry', 'date']`           |
| `extend(iterable)`   | Add multiple elements                           | `fruits.extend(["grape", "melon"])` | `['apple', 'banana', 'cherry', 'date', 'grape', 'melon']` |
| `remove(x)`          | Remove first occurrence of x                    | `fruits.remove("banana")`           | `['apple', 'cherry', 'date']`                             |
| `pop(i)`             | Remove & return element at index (default last) | `fruits.pop()`                      | `'date'`                                                  |
| `clear()`            | Remove all elements                             | `fruits.clear()`                    | `[]`                                                      |
| `index(x)`           | Return index of first occurrence                | `fruits.index("cherry")`            | `2`                                                       |
| `count(x)`           | Count occurrences of x                          | `fruits.count("apple")`             | `1`                                                       |
| `sort()`             | Sort list in ascending order                    | `fruits.sort()`                     | `['apple', 'banana', 'cherry']`                           |
| `sort(reverse=True)` | Sort descending                                 | `fruits.sort(reverse=True)`         | `['date', 'cherry', 'banana', 'apple']`                   |
| `reverse()`          | Reverse list order                              | `fruits.reverse()`                  | `['date', 'cherry', 'banana', 'apple']`                   |
| `copy()`             | Shallow copy of list                            | `new_list = fruits.copy()`          | Same as fruits                                            |

In [ ]:
# Initial list
fruits = ['apple', 'banana', 'cherry', 'date']

# append(x)
fruits.append("fig")
print(fruits)  # ['apple', 'banana', 'cherry', 'date', 'fig']

# Reset
fruits = ['apple', 'banana', 'cherry', 'date']

# insert(i, x)
fruits.insert(1, "kiwi")
print(fruits)  # ['apple', 'kiwi', 'banana', 'cherry', 'date']

# Reset
fruits = ['apple', 'banana', 'cherry', 'date']

# extend(iterable)
fruits.extend(["grape", "melon"])
print(fruits)  # ['apple', 'banana', 'cherry', 'date', 'grape', 'melon']

# Reset
fruits = ['apple', 'banana', 'cherry', 'date']

# remove(x)
fruits.remove("banana")
print(fruits)  # ['apple', 'cherry', 'date']

# Reset
fruits = ['apple', 'banana', 'cherry', 'date']

# pop(i)
print(fruits.pop())  # 'date'
print(fruits)        # ['apple', 'banana', 'cherry']

# Reset
fruits = ['apple', 'banana', 'cherry', 'date']

# clear()
fruits.clear()
print(fruits)  # []

# Reset
fruits = ['apple', 'banana', 'cherry', 'date']

# index(x)
print(fruits.index("cherry"))  # 2

# count(x)
print(fruits.count("apple"))   # 1

# sort()
fruits.sort()
print(fruits)  # ['apple', 'banana', 'cherry', 'date']

# sort(reverse=True)
fruits.sort(reverse=True)
print(fruits)  # ['date', 'cherry', 'banana', 'apple']

# reverse()
fruits.reverse()
print(fruits)  # ['apple', 'banana', 'cherry', 'date']

# copy()
new_list = fruits.copy()
print(new_list)  # ['apple', 'banana', 'cherry', 'date']

['apple', 'banana', 'cherry', 'date', 'fig']
['apple', 'kiwi', 'banana', 'cherry', 'date']
['apple', 'banana', 'cherry', 'date', 'grape', 'melon']
['apple', 'cherry', 'date']
date
['apple', 'banana', 'cherry']
[]
2
1
['apple', 'banana', 'cherry', 'date']
['date', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'date']
['apple', 'banana', 'cherry', 'date']

Immutable Lists

A tuple is like a list, but immutable (cannot be changed after creation).

Creating Tuples

In [ ]:
# Empty tuple
t1 = ()

# Tuple with values
t2 = (1, 2, 3)

# Without parentheses (tuple packing)
t3 = 4, 5, 6

# Single element tuple (needs comma)
t4 = (10,)

# Tuple from iterable
t5 = tuple([7, 8, 9])

Accessing Elements

In [ ]:
t = (10, 20, 30, 40, 50)

# Indexing
print(t[0])   # 10
print(t[-1])  # 50

# Slicing
print(t[1:4])   # (20, 30, 40)
print(t[:3])    # (10, 20, 30)

10
50
(20, 30, 40)
(10, 20, 30)

Tuple Methods

| Method     | Description                              | Example                  | Output |
| ---------- | ---------------------------------------- | ------------------------ | ------ |
| `count(x)` | Returns number of occurrences of `x`     | `(1, 2, 2, 3).count(2)`  | `2`    |
| `index(x)` | Returns index of first occurrence of `x` | `(10, 20, 30).index(20)` | `1`    |

In [ ]:
# Tuple Example
my_tuple = (10, 20, 30, 20, 40, 20)

# count()
print(my_tuple.count(20))  # Counts occurrences of 20

# index()
print(my_tuple.index(30))  # Finds index of first 30

3
2

Unordered collection (no fixed index order)

Unique elements only (duplicates removed automatically)

Mutable → You can add or remove items

Can hold different data types, but all must be hashable (no lists, no other sets)

Creating sets

In [ ]:
# Empty set
s1 = set()

# Set with values (duplicates removed)
s2 = {1, 2, 3, 3, 4}
print(s2)  # {1, 2, 3, 4}

# From list
s3 = set([1, 2, 2, 3])
print(s3)  # {1, 2, 3}

{1, 2, 3, 4}
{1, 2, 3}

set methods

| Method                          | Description                      | Example                     | Output               |                |
| ------------------------------- | -------------------------------- | --------------------------- | -------------------- | -------------- |
| `add(x)`                        | Add element `x`                  | `{1,2}.add(3)`              | `{1, 2, 3}`          |                |
| `remove(x)`                     | Remove `x`, error if not found   | `{1,2}.remove(2)`           | `{1}`                |                |
| `discard(x)`                    | Remove `x` if exists             | `{1,2}.discard(5)`          | `{1, 2}`             |                |
| `pop()`                         | Remove & return a random element | `{1,2,3}.pop()`             | `1` (random)         |                |
| `clear()`                       | Remove all elements              | `{1,2}.clear()`             | `set()`              |                |
| `union()` or \`                 | \`                               | Combine sets                | `{1,2}.union({3,4})` | `{1, 2, 3, 4}` |
| `intersection()` or `&`         | Common elements                  | `{1,2}&{2,3}`               | `{2}`                |                |
| `difference()` or `-`           | Elements in A but not B          | `{1,2,3}-{2,4}`             | `{1, 3}`             |                |
| `symmetric_difference()` or `^` | Elements in A or B but not both  | `{1,2}^{2,3}`               | `{1, 3}`             |                |
| `issubset()`                    | Checks if A is subset of B       | `{1,2}.issubset({1,2,3})`   | `True`               |                |
| `issuperset()`                  | Checks if A is superset of B     | `{1,2,3}.issuperset({1,2})` | `True`               |                |
| `copy()`                        | Returns a shallow copy           | `a.copy()`                  | `same as a`          |                |

In [ ]:
# Demonstrating Python set methods with their outputs

# add(x)
example_add = {1, 2}
example_add.add(3)

# remove(x)
example_remove = {1, 2}
example_remove.remove(2)

# discard(x)
example_discard = {1, 2}
example_discard.discard(5)

# pop()
example_pop = {1, 2, 3}
pop_value = example_pop.pop()  # random element

# clear()
example_clear = {1, 2}
example_clear.clear()

# union()
example_union = {1, 2}.union({3, 4})

# intersection()
example_intersection = {1, 2} & {2, 3}

# difference()
example_difference = {1, 2, 3} - {2, 4}

# symmetric_difference()
example_symmetric_difference = {1, 2} ^ {2, 3}

# issubset()
example_issubset = {1, 2}.issubset({1, 2, 3})

# issuperset()
example_issuperset = {1, 2, 3}.issuperset({1, 2})

# copy()
a = {1, 2, 3}
example_copy = a.copy()

results = {
    "add": example_add,
    "remove": example_remove,
    "discard": example_discard,
    "pop_value": pop_value,
    "pop_remaining_set": example_pop,
    "clear": example_clear,
    "union": example_union,
    "intersection": example_intersection,
    "difference": example_difference,
    "symmetric_difference": example_symmetric_difference,
    "issubset": example_issubset,
    "issuperset": example_issuperset,
    "copy": example_copy
}

results

{'add': {1, 2, 3},
 'remove': {1},
 'discard': {1, 2},
 'pop_value': 1,
 'pop_remaining_set': {2, 3},
 'clear': set(),
 'union': {1, 2, 3, 4},
 'intersection': {2},
 'difference': {1, 3},
 'symmetric_difference': {1, 3},
 'issubset': True,
 'issuperset': True,
 'copy': {1, 2, 3}}

set operations

| Operation                | Operator / Method               | Description                                     | Example                                     | Output             |             |
| ------------------------ | ------------------------------- | ----------------------------------------------- | ------------------------------------------- | ------------------ | ----------- |
| **Union**                | \`                              | `/`.union()\`                                   | Combines all unique elements from both sets | `{1, 2} \| {2, 3}` | `{1, 2, 3}` |
| **Intersection**         | `&` / `.intersection()`         | Elements common to both sets                    | `{1, 2} & {2, 3}`                           | `{2}`              |             |
| **Difference**           | `-` / `.difference()`           | Elements in the first set but not in the second | `{1, 2} - {2, 3}`                           | `{1}`              |             |
| **Symmetric Difference** | `^` / `.symmetric_difference()` | Elements in either set but not both             | `{1, 2} ^ {2, 3}`                           | `{1, 3}`           |             |
| **Subset**               | `.issubset()`                   | Checks if a set is a subset of another          | `{1, 2}.issubset({1, 2, 3})`                | `True`             |             |
| **Superset**             | `.issuperset()`                 | Checks if a set is a superset of another        | `{1, 2, 3}.issuperset({1, 2})`              | `True`             |             |
| **Disjoint**             | `.isdisjoint()`                 | Checks if sets have no elements in common       | `{1, 2}.isdisjoint({3, 4})`                 | `True`             |             |

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

# Union
print(A | B)                 # {1, 2, 3, 4, 5}
print(A.union(B))            # {1, 2, 3, 4, 5}

# Intersection
print(A & B)                 # {3}
print(A.intersection(B))     # {3}

# Difference
print(A - B)                 # {1, 2}
print(A.difference(B))       # {1, 2}

# Symmetric Difference
print(A ^ B)                 # {1, 2, 4, 5}
print(A.symmetric_difference(B))  # {1, 2, 4, 5}

# Subset, Superset, Disjoint
print({1, 2}.issubset(A))     # True
print(A.issuperset({1, 2}))   # True
print(A.isdisjoint({6, 7}))   # True

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}
True
True
True

Dictionaries — Key-Value Pairs
A dictionary in Python is a collection of key-value pairs.

Keys must be unique and immutable (e.g., strings, numbers, tuples).

Values can be any data type and can be duplicated.

Dictionaries are mutable (can be changed).

Order is preserved in Python 3.7+.

Creating a Dictionary

In [ ]:
# Empty dictionary
my_dict = {}

# With data
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

dictionary methods

| Method                          | Description                                                               | Example                                 |
| ------------------------------- | ------------------------------------------------------------------------- | --------------------------------------- |
| `dict.get(key, default)`        | Returns the value for a key, or `default` if not found                    | `person.get("age", 30)`                 |
| `dict.keys()`                   | Returns a view object of all keys                                         | `person.keys()`                         |
| `dict.values()`                 | Returns a view object of all values                                       | `person.values()`                       |
| `dict.items()`                  | Returns a view object of key-value pairs as tuples                        | `person.items()`                        |
| `dict.update(other_dict)`       | Updates dictionary with key-value pairs from another dict                 | `person.update({"city": "London"})`     |
| `dict.pop(key, default)`        | Removes key and returns value, or `default` if not found                  | `person.pop("name")`                    |
| `dict.popitem()`                | Removes and returns the last inserted (key, value) pair                   | `person.popitem()`                      |
| `dict.clear()`                  | Removes all items from the dictionary                                     | `person.clear()`                        |
| `dict.fromkeys(keys, value)`    | Creates a new dictionary from given keys with specified value             | `dict.fromkeys(['a', 'b'], 0)`          |
| `dict.setdefault(key, default)` | Returns value if key exists, else sets key to default and returns default | `person.setdefault("country", "India")` |
| `dict.copy()`                   | Returns a shallow copy of the dictionary                                  | `person.copy()`                         |

In [ ]:
# Sample dictionary
person = {"name": "Alice", "age": 25}

# 1. get()
print("get:", person.get("age", 30))  # key exists
print("get (default):", person.get("city", "Unknown"))  # key doesn't exist

# 2. keys()
print("keys:", person.keys())

# 3. values()
print("values:", person.values())

# 4. items()
print("items:", person.items())

# 5. update()
person.update({"city": "London"})
print("update:", person)

# 6. pop()
print("pop:", person.pop("name"))

# 7. popitem()
print("popitem:", person.popitem())

# 8. clear()
person.clear()
print("clear:", person)

# 9. fromkeys()
new_dict = dict.fromkeys(['a', 'b'], 0)
print("fromkeys:", new_dict)

# 10. setdefault()
person = {"name": "Bob"}
print("setdefault (exists):", person.setdefault("name", "Charlie"))
print("setdefault (new):", person.setdefault("country", "India"))
print("after setdefault:", person)

# 11. copy()
person_copy = person.copy()
print("copy:", person_copy)

get: 25
get (default): Unknown
keys: dict_keys(['name', 'age'])
values: dict_values(['Alice', 25])
items: dict_items([('name', 'Alice'), ('age', 25)])
update: {'name': 'Alice', 'age': 25, 'city': 'London'}
pop: Alice
popitem: ('city', 'London')
clear: {}
fromkeys: {'a': 0, 'b': 0}
setdefault (exists): Bob
setdefault (new): India
after setdefault: {'name': 'Bob', 'country': 'India'}
copy: {'name': 'Bob', 'country': 'India'}

#Functions

| Concept               | Syntax Example               |
| --------------------- | ---------------------------- |
| Define a function     | `def func():`                |
| Call a function       | `func()`                     |
| Parameters            | `def func(a, b):`            |
| Default parameters    | `def func(a=10):`            |
| Return value          | `return value`               |
| Multiple returns      | `return val1, val2`          |
| Lambda function       | `lambda args: expression`    |
| Docstring (help text) | `"""Function description"""` |

What is a Function?

A function is a block of reusable code that performs a specific task.
It helps make code organized, readable, and reusable.

Defining code

In [ ]:
def greet():
    print("Hello, welcome to Python!")

Calling functions

In [ ]:
greet()

Hello, welcome to Python!

Function with parameters

In [ ]:
def greet_user(name):
    print(f"Hello, {name}!")

Calling functions

In [ ]:
greet_user("Manoj")

Hello, Manoj!

Function with return values

In [ ]:
def add(a, b):
    return a + b

result = add(10, 20)
print(result)

30

| Type       | Syntax               | Data Type Stored | Example Call                |
| ---------- | -------------------- | ---------------- | --------------------------- |
| Positional | `func(a, b)`         | As defined       | `greet("Tom", 20)`          |
| Keyword    | `func(x=1)`          | As defined       | `greet(age=20, name="Tom")` |
| Default    | `def func(x=0)`      | As defined       | `greet()`                   |
| `*args`    | `def func(*args)`    | Tuple            | `func(1,2,3)`               |
| `**kwargs` | `def func(**kwargs)` | Dictionary       | `func(a=1,b=2)`             |

Positional Arguments

These are arguments passed in the same order as parameters are defined in the function.

In [ ]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet("Alice", 25)  # Order matters

Hello Alice, you are 25 years old.

Keyword Arguments

In [ ]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet(age=25, name="Bob")  # Order doesn't matter

Hello Bob, you are 25 years old.

Default Arguments

You can assign default values to parameters. If not provided, the default is used.

In [ ]:
def greet(name="Guest", age=18):
    print(f"Hello {name}, you are {age} years old.")

greet()
greet("Charlie")
greet("David", 30)

Hello Guest, you are 18 years old.
Hello Charlie, you are 18 years old.
Hello David, you are 30 years old.

Variable-Length Arguments
Used when you don’t know the exact number of arguments to pass.

a) *args (Non-Keyword Variable Arguments)
Stores extra positional arguments as a tuple.

In [ ]:
def add_numbers(*args):
    print(args)  # Tuple
    print(f"Sum: {sum(args)}")

add_numbers(2, 4, 6)

(2, 4, 6)
Sum: 12

 **kwargs (Keyword Variable Arguments)
Stores extra keyword arguments as a dictionary.

In [ ]:
def display_info(**kwargs):
    print(kwargs)  # Dictionary
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Eve", age=28, city="Paris")

{'name': 'Eve', 'age': 28, 'city': 'Paris'}
name: Eve
age: 28
city: Paris

#Return Statement

What is return?
In Python, return is used inside a function to send the result back to the caller.

When a return statement is executed, the function ends immediately.

If no return is specified, Python automatically returns None.

Syntax

In [ ]:
def function_name(parameters):
    # code
    return value

example

 Returning a Single Value

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

Returning Multiple Values

In [ ]:
def get_details():
    name = "Alice"
    age = 25
    return name, age

n, a = get_details()
print(n)
print(a)

Alice
25

Returning Without Value

In [ ]:
def greet():
    print("Hello")
    return

output = greet()
print(output)

Hello
None

Returning from Inside a Loop

In [ ]:
def find_even(numbers):
    for num in numbers:
        if num % 2 == 0:
            return num
    return None

result = find_even([1, 3, 7, 4, 9])
print(result)

4

#Lambda function

What is a Lambda Function?

A lambda function is a small, anonymous (unnamed) function in Python.

It can have any number of arguments but only one expression.

Used for short, simple operations where a normal def function would be overkill.

In [ ]:
#lambda arguments: expression

lambda → keyword to define the function.

arguments → inputs to the function.

expression → evaluated and returned automatically.

Basic Argument

In [ ]:
add = lambda x, y: x + y
print(add(5, 3))

8

Single Argument

In [ ]:
square = lambda n: n ** 2
print(square(4))

16

Multiple Arguments

In [ ]:
multiply = lambda a, b, c: a * b * c
print(multiply(2, 3, 4))

24

No arguments

In [ ]:
say_hello = lambda: "Hello World"
print(say_hello())

Hello World

#Map()

map() applies a given function to every item in an iterable (like a list, tuple, etc.) and returns a map object (which can be converted to a list, tuple, etc.).

map(function, iterable, ...)

function → The function to apply.

iterable → One or more iterable objects.

Key Points
map() does not change the original iterable.

Returns a map object (iterator), so you usually convert it to list() or tuple().

Can take multiple iterables if the function accepts multiple arguments.

Basic Usage

In [ ]:
# Function to square numbers
def square(num):
    return num ** 2

numbers = [1, 2, 3, 4, 5]

result = map(square, numbers)

print(list(result))

[1, 4, 9, 16, 25]

Using lambda with map()

In [ ]:
numbers = [2, 4, 6, 8]

result = map(lambda x: x * 3, numbers)

print(list(result))

[6, 12, 18, 24]

Using map() with Multiple Iterables

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)

print(list(result))

[5, 7, 9]

Converting Strings to Uppercase

In [ ]:
words = ["python", "map", "function"]

result = map(str.upper, words)

print(list(result))

['PYTHON', 'MAP', 'FUNCTION']

#Filter

The filter() function constructs an iterator from elements of an iterable for which a function returns True.

syntax

filter(function, iterable)

Parameters

function – A function that tests each element of the iterable, returning True or False.

iterable – Any iterable object (list, tuple, set, etc.).

Filtering even numbers

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Function to check even
def is_even(n):
    return n % 2 == 0

even_numbers = filter(is_even, numbers)

print(list(even_numbers))

[2, 4, 6]

Using lambda with filter()

In [ ]:
numbers = [10, 15, 20, 25, 30]
even_numbers = filter(lambda x: x % 2 == 0, numbers)

print(list(even_numbers))

[10, 20, 30]

Filtering Words Longer Than 4 Letters

In [ ]:
words = ["apple", "bat", "banana", "cat"]

long_words = filter(lambda w: len(w) > 4, words)

print(list(long_words))

['apple', 'banana']

None as Function

In [ ]:
values = [0, 1, "", "hello", [], [1, 2], None, True]

filtered = filter(None, values)

print(list(filtered))

[1, 'hello', [1, 2], True]

#reduce

reduce means repeatedly applying a function to the items of an iterable to reduce it to a single cumulative value.

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4]
result = reduce(lambda a, b: a + b, nums)
result

10

In [ ]:
from functools import reduce

# Example 1: Sum of numbers
nums = [1, 2, 3, 4]
sum_result = reduce(lambda a, b: a + b, nums)   # 1+2+3+4 = 10

# Example 2: Product of numbers
product_result = reduce(lambda a, b: a * b, nums)  # 1*2*3*4 = 24

# Example 3: Find maximum number
max_result = reduce(lambda a, b: a if a > b else b, nums)  # max = 4

print(sum_result, product_result, max_result)

10 24 4

#Recursion

Recursion is when a function calls itself directly or indirectly to solve a problem in smaller steps until it reaches a base case (a stopping point).

Key Parts of Recursion
Every recursive function must have:

Base Case – a condition that stops the recursion.
Without this, the function will call itself forever → crash (RecursionError in Python).

Recursive Case – the function calls itself with a smaller or simpler input.

Factorial
Factorial:
n! = n × (n-1) × (n-2) × ... × 1

In [ ]:
def factorial(n):
    # Base case
    if n == 0 or n == 1:
        return 1
    # Recursive case
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120

120

In [ ]:
factorial(5)
5 * factorial(4)
5 * (4 * factorial(3))
5 * (4 * (3 * factorial(2)))
5 * (4 * (3 * (2 * factorial(1))))
5 * (4 * (3 * (2 * 1)))
120

120

 Factorial

In [ ]:
def factorial(n):
    if n == 0:  # Base case
        return 1
    return n * factorial(n - 1)  # Recursive case

print(factorial(50))

30414093201713378043612608166064768844377641568960512000000000000

Fibonacci Numbers

In [ ]:
def fibonacci(n):
    if n <= 1:  # Base case
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)  # Recursive case

print(fibonacci(6))

8

#recursion important examples

In [ ]:
from functools import reduce

# 1. Factorial
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

# 2. Fibonacci
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

# 3. Sum of Digits
def sum_digits(n):
    if n == 0:
        return 0
    return n % 10 + sum_digits(n // 10)

# 4. Reverse String
def reverse_string(s):
    if len(s) == 0:
        return s
    return s[-1] + reverse_string(s[:-1])

# 5. Palindrome Check
def is_palindrome(s):
    if len(s) <= 1:
        return True
    return s[0] == s[-1] and is_palindrome(s[1:-1])

# 6. Binary Search
def binary_search(arr, target, low, high):
    if low > high:
        return -1
    mid = (low + high) // 2
    if arr[mid] == target:
        return mid
    elif arr[mid] > target:
        return binary_search(arr, target, low, mid - 1)
    else:
        return binary_search(arr, target, mid + 1, high)

# 7. GCD (Euclidean Algorithm)
def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)

# 8. Tower of Hanoi
def hanoi(n, src, dest, aux):
    moves = []
    def move_disks(n, src, dest, aux):
        if n == 1:
            moves.append(f"Move disk 1 from {src} to {dest}")
            return
        move_disks(n-1, src, aux, dest)
        moves.append(f"Move disk {n} from {src} to {dest}")
        move_disks(n-1, aux, dest, src)
    move_disks(n, src, dest, aux)
    return moves

# 9. Merge Sort
def merge_sort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        L = arr[:mid]
        R = arr[mid:]
        merge_sort(L)
        merge_sort(R)
        i = j = k = 0
        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1
        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1
        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1

# 10. DFS in Graph
def dfs(graph, node, visited=None):
    if visited is None:
        visited = set()
    output = []
    if node not in visited:
        output.append(node)
        visited.add(node)
        for neighbor in graph[node]:
            output.extend(dfs(graph, neighbor, visited))
    return output


# Running all functions
results = {
    "Factorial(5)": factorial(5),
    "Fibonacci(6)": fibonacci(6),
    "Sum of digits(1234)": sum_digits(1234),
    "Reverse 'hello'": reverse_string("hello"),
    "Palindrome 'madam'": is_palindrome("madam"),
    "Binary search for 7": binary_search([1,3,5,7,9], 7, 0, 4),
    "GCD(48, 18)": gcd(48, 18),
    "Tower of Hanoi (3 disks)": hanoi(3, 'A', 'C', 'B'),
    "Merge sort": (lambda nums: (merge_sort(nums), nums))([38, 27, 43, 3, 9, 82, 10])[1],
    "DFS in graph": dfs({'A': ['B','C'], 'B': ['D','E'], 'C': ['F'], 'D': [], 'E': ['F'], 'F': []}, 'A')
}

results

{'Factorial(5)': 120,
 'Fibonacci(6)': 8,
 'Sum of digits(1234)': 10,
 "Reverse 'hello'": 'olleh',
 "Palindrome 'madam'": True,
 'Binary search for 7': 3,
 'GCD(48, 18)': 6,
 'Tower of Hanoi (3 disks)': ['Move disk 1 from A to C',
  'Move disk 2 from A to B',
  'Move disk 1 from C to B',
  'Move disk 3 from A to C',
  'Move disk 1 from B to A',
  'Move disk 2 from B to C',
  'Move disk 1 from A to C'],
 'Merge sort': [3, 9, 10, 27, 38, 43, 82],
 'DFS in graph': ['A', 'B', 'D', 'E', 'F', 'C']}

#Scope of Variable

Scope of a Variable means where in a program a variable can be accessed or modified.

| **Level** | **Scope Name** | **Description**                                          |
| --------- | -------------- | -------------------------------------------------------- |
| **L**     | Local          | Variables inside the current function.                   |
| **E**     | Enclosing      | Variables in outer functions (nested function scenario). |
| **G**     | Global         | Variables defined at the top-level of a script/module.   |
| **B**     | Built-in       | Names predefined in Python (like `len`, `range`).        |

Local Scope

Variables created inside a function.

Accessible only within that function.

In [ ]:
def my_func():
    x = 10  # local variable
    print("Inside function:", x)

my_func()
# print(x)  # ❌ Error: x not defined

Inside function: 10

In [ ]:
def my_func():
    x = 10  # local variable
    print("Inside function:", x)

my_func()
print(67)  # ❌ Error: x not defined

Inside function: 10
67

Global Scope

Variables created outside all functions.

Accessible anywhere in the program (unless shadowed by local variables).

In [ ]:
x = 50  # global variable

def my_func():
    print("Inside function:", x)

my_func()
print("Outside function:", x)

Inside function: 50
Outside function: 50

Enclosing Scope (Nonlocal)

Variables in outer functions for nested functions.

Use nonlocal to modify them.

In [ ]:
def outer():
    y = 20  # enclosing variable
    def inner():
        nonlocal y
        y += 5
        print("Inner:", y)
    inner()
    print("Outer:", y)

outer()

Inner: 25
Outer: 25

Built-in Scope

Python’s default functions/keywords.

Example: print(), len(), sum().

In [ ]:
print(len([1, 2, 3]))  # 3

3

#decorator

What is a Decorator in Python?
A decorator is a special function that modifies the behavior of another function without changing its code.

Why use decorators?

To add reusable functionality to many functions easily.

To separate concerns (like logging, timing, checking permissions).

To keep code clean and DRY (Don’t Repeat Yourself).

In [1]:
def my_decorator(func):
    def wrapper():
        print("Before the function runs")
        func()
        print("After the function runs")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Before the function runs
Hello!
After the function runs

Simple decorator — adds prints before and after a function

In [2]:
def simple_decorator(func):
    def wrapper():
        print("Before function runs")
        func()
        print("After function runs")
    return wrapper

@simple_decorator
def greet():
    print("Hello!")

greet()

Before function runs
Hello!
After function runs

Decorator for functions with arguments

In [3]:
def decorator_with_args(func):
    def wrapper(*args, **kwargs):
        print("Function is about to run")
        result = func(*args, **kwargs)
        print("Function finished running")
        return result
    return wrapper

@decorator_with_args
def add(a, b):
    return a + b

print(add(5, 3))

Function is about to run
Function finished running
8

Decorator with parameters (a decorator factory)

In [4]:
def repeat(times):
    def decorator(func):
        def wrapper(*args, **kwargs):
            for _ in range(times):
                func(*args, **kwargs)
        return wrapper
    return decorator

@repeat(3)
def say_hello():
    print("Hello!")

say_hello()

Hello!
Hello!
Hello!

Timing decorator (measures execution time)

In [5]:
import time

def timer(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f"Function took {end - start:.4f} seconds")
        return result
    return wrapper

@timer
def waste_time():
    for _ in range(1000000):
        pass

waste_time()

Function took 0.0767 seconds

Logging decorator (logs function name and arguments)

In [6]:
def logger(func):
    def wrapper(*args, **kwargs):
        print(f"Calling {func.__name__} with args={args} kwargs={kwargs}")
        return func(*args, **kwargs)
    return wrapper

@logger
def multiply(x, y):
    return x * y

print(multiply(4, 5))

Calling multiply with args=(4, 5) kwargs={}
20

#Modules & Packages

What is a Module?

A module is a single Python file (.py) that contains Python code — functions, classes, variables, etc.

You can reuse code by importing modules instead of rewriting it.

In [7]:
# file: math_utils.py
def add(a, b):
    return a + b

What is a Package?

A package is a folder/directory containing multiple modules and a special file __init__.py (can be empty).

It helps organize modules in a hierarchical structure.

my_package/
    __init__.py
    module1.py
    module2.py

| Task                         | Syntax                         |
| ---------------------------- | ------------------------------ |
| Import whole module          | `import module_name`           |
| Import specific parts        | `from module_name import func` |
| Import with alias            | `import module_name as alias`  |
| Import all (not recommended) | `from module_name import *`    |

#math — math functions and constants

In [9]:
import math

print(math.sqrt(16))      # 4.0 — square root
print(math.factorial(5))  # 120 — factorial
print(math.pi)            # 3.141592653589793 — constant pi
print(math.sin(math.pi/2))# 1.0 — sine of 90 degrees (in radians)

4.0
120
3.141592653589793
1.0

random — generate random numbers

In [10]:
import random

print(random.random())         # random float between 0 and 1
print(random.randint(1, 10))  # random int between 1 and 10 (inclusive)
print(random.choice(['red', 'green', 'blue']))  # randomly select from list
print(random.shuffle([1, 2, 3, 4]))  # shuffles list in place

0.7096770317943935
7
blue
None

datetime — working with dates and times

In [11]:
import datetime

now = datetime.datetime.now()
print(now)                    # current date and time

today = datetime.date.today()
print(today)                  # current date

birthday = datetime.date(1990, 5, 15)
print(birthday)

# timedelta for date arithmetic
delta = datetime.timedelta(days=7)
week_later = today + delta
print(week_later)

2025-08-12 03:04:07.415236
2025-08-12
1990-05-15
2025-08-19

 os — interact with operating system

In [15]:
import os

print(os.name)               # e.g. 'posix', 'nt'

print(os.getcwd())           # current working directory

os.chdir('..')               # change directory to parent

print(os.listdir('.'))       # list files in current directory

if not os.path.exists('new_folder'):
  os.mkdir('new_folder')       # create new folder
else:
  print("Directory 'new_folder' already exists.")

# os.rename('old.txt', 'new.txt')  # rename file - removed as file doesn't exist

# os.remove('file.txt')        # delete file - removed as file doesn't exist

posix
/
['usr', 'mnt', 'run', 'sbin', 'dev', 'tmp', 'lib64', 'root', 'proc', 'etc', 'media', 'bin', 'srv', 'home', 'boot', 'var', 'opt', 'libx32', 'lib', 'lib32', 'sys', 'kaggle', 'new_folder', '.dockerenv', 'datalab', 'tools', 'content', 'python-apt', 'python-apt.tar.xz', 'NGC-DL-CONTAINER-LICENSE', 'cuda-keyring_1.1-1_all.deb']
Directory 'new_folder' already exists.

#Creating Custom Modules

 Create a Python file
Make a new file with .py extension, for example, mymath.py

In [16]:
# mymath.py

def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

Use (import) your module in another file
Create another file, say main.py in the same directory.

In [26]:
# Create the mymath.py file
with open("mymath.py", "w") as f:
    f.write("def add(a, b):\n")
    f.write("    return a + b\n")
    f.write("\ndef subtract(a, b):\n")
    f.write("    return a - b\n")

print("mymath.py created successfully.")

mymath.py created successfully.

In [28]:
# main.py

import mymath

print(mymath.add(5, 3))       # Output: 8
print(mymath.subtract(10, 4)) # Output: 6

8
6

In [27]:
from mymath import add

print(add(7, 2))  # Output: 9

9

In [29]:
import mymath as mm

print(mm.subtract(9, 4))  # Output: 5

5

What is __name__?

Every Python module (file) has a built-in attribute called __name__.

When you run a Python file directly, __name__ is set to "__main__".

When you import that file as a module, __name__ is set to the module’s filename (without .py).

Why use if __name__ == "__main__":?

To make sure some code only runs when you execute the script directly, but NOT when you import it.

Useful for:

Running tests or demos inside the module.

Preventing certain code from running on import.

In [32]:
# mymodule.py

def greet():
    print("Hello from greet()")

if __name__ == "__main__":
    print("Running as main script")
    greet()

Running as main script
Hello from greet()

#Exception Handling in Python
When your program encounters an error during execution, it raises an exception. If not handled, your program crashes.

Python lets you handle exceptions gracefully using try and except.

| Block     | Purpose                                  |
| --------- | ---------------------------------------- |
| `try`     | Code that may raise an exception         |
| `except`  | Code to handle specific exceptions       |
| `else`    | Code to run if no exceptions were raised |
| `finally` | Code that always runs (cleanup, etc.)    |

Syntax

try:
    # code that might raise an exception
except SomeException:
    # code that runs if the exception occurs
else:
    # code that runs if no exception occurred
finally:
    # code that always runs, no matter what

try — block where exceptions might occur

In [33]:
try:
    x = 10 / 0  # Raises ZeroDivisionError
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

except — block to catch and handle exceptions

In [34]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("Cannot divide by zero!")

Enter a number: 98

else — runs if no exception occurred

In [38]:
try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid number!")
else:
    print(f"You entered {num}, all good!")

Enter a number: 87
You entered 87, all good!

finally — always runs, whether exception occurred or not
Good for cleanup (closing files, releasing resources):

In [40]:
file = None  # Initialize file to None
try:
    file = open("data.txt", "r")
    data = file.read()
except FileNotFoundError:
    print("File not found.")
else:
    print("File read successfully.")
finally:
    if file is not None: # Check if file was opened
        file.close()
        print("File closed.")

File not found.

#Handling Multiple Exceptions
When a block of code can raise different kinds of exceptions, you can catch them separately or together.

Catch different exceptions with separate except blocks

In [41]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("Invalid input! Please enter a number.")
except ZeroDivisionError:
    print("Oops! You can't divide by zero.")

Enter a number: 98

 Catch multiple exceptions in a single except block

In [42]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except (ValueError, ZeroDivisionError):
    print("Either you didn't enter a valid number or tried to divide by zero.")

Enter a number: 76

Catch all exceptions (not recommended unless necessary)

In [43]:
try:
    # risky code
    pass
except Exception as e:
    print(f"An error occurred: {e}")

Example

In [44]:
def divide_numbers():
    try:
        x = int(input("Enter numerator: "))
        y = int(input("Enter denominator: "))
        result = x / y
    except ValueError:
        print("Error: Please enter valid integers.")
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
    else:
        print(f"Result is {result}")
    finally:
        print("Execution complete.")

divide_numbers()

Enter numerator: 78
Enter denominator: 56
Result is 1.3928571428571428
Execution complete.

#raise Statement

| Purpose               | Example                       |
| --------------------- | ----------------------------- |
| Raise built-in error  | `raise ValueError("message")` |
| Raise custom error    | `raise MyError("message")`    |
| Re-raise caught error | `raise` inside except block   |

The raise Statement in Python

The raise statement is used to manually trigger (raise) an exception.

Why use raise?

To signal that an error or unusual situation has happened.

To enforce certain conditions or validation.

To propagate an error after catching it (re-raise).

In [47]:
def check_age(age):
    if age > 18:
        raise ValueError("Age must be at least 18.")
    print("Age is valid.")

check_age(15)

Age is valid.

Raising a custom exception:

In [51]:
class MyError(Exception):
    pass

def do_something(flag):
    if not flag:
        raise MyError("Flag must be True!")

print(do_something(True))

None

Re-raising an exception
You can catch an exception and then raise it again:

In [52]:
try:
    x = int(input("Enter a number: "))
    if x < 0:
        raise ValueError("Negative number not allowed")
except ValueError as e:
    print(f"Caught an error: {e}")
    raise  # re-raise the same exception

Enter a number: 84

#What is a Custom Exception?
Python already has many built-in exceptions (ValueError, TypeError, ZeroDivisionError, etc.).

But sometimes you need to define your own exception to handle a specific type of error in your program.

Custom exceptions are classes that usually inherit from Exception or a subclass of it.

1. Creating a Simple Custom Exception

In [53]:
class NegativeNumberError(Exception):
    """Raised when a number is negative."""
    pass

def check_number(num):
    if num < 0:
        raise NegativeNumberError("Negative numbers are not allowed!")
    print("Number is valid.")

# Example usage
try:
    check_number(-5)
except NegativeNumberError as e:
    print(f"Caught custom exception: {e}")

Caught custom exception: Negative numbers are not allowed!

Custom Exception with Additional Attributes

In [54]:
class AgeError(Exception):
    def __init__(self, age, message="Invalid age"):
        self.age = age
        self.message = message
        super().__init__(self.message)

def validate_age(age):
    if age < 18:
        raise AgeError(age, "Age must be at least 18.")
    print("Age is valid.")

try:
    validate_age(15)
except AgeError as e:
    print(f"Error: {e.message}, Age: {e.age}")

Error: Age must be at least 18., Age: 15

Multiple Custom Exceptions
You can define a hierarchy of exceptions for more specific handling.

In [55]:
class AppError(Exception):
    """Base class for application errors"""
    pass

class DatabaseError(AppError):
    """Raised when a database error occurs"""
    pass

class ValidationError(AppError):
    """Raised when validation fails"""
    pass

try:
    raise ValidationError("Invalid data format")
except ValidationError as e:
    print(f"Validation failed: {e}")
except DatabaseError as e:
    print(f"Database issue: {e}")

Validation failed: Invalid data format

#What is OOP?
OOP is a way of structuring programs by bundling data (attributes) and behavior (methods) into objects.



| Term          | Meaning                        |
| ------------- | ------------------------------ |
| **Class**     | Blueprint for creating objects |
| **Object**    | Instance of a class            |
| **Attribute** | Variable inside a class/object |
| **Method**    | Function inside a class        |

Creating a Class


A class is like a blueprint for creating objects.

In [56]:
class Person:
    # Constructor (initializer)
    def __init__(self, name, age):
        self.name = name  # Attribute
        self.age = age

    # Method
    def greet(self):
        print(f"Hello, my name is {self.name} and I'm {self.age} years old.")

Creating an Object (Instance)


An object is an instance of a class.

In [57]:
# Create object
person1 = Person("Manoj", 25)
person2 = Person("Ravi", 30)

# Access attributes
print(person1.name)  # Output: Manoj
print(person2.age)   # Output: 30

# Call method
person1.greet()  # Output: Hello, my name is Manoj and I'm 25 years old.

Manoj
30
Hello, my name is Manoj and I'm 25 years old.

Class vs. Instance Attributes

In [58]:
class Dog:
    species = "Canis familiaris"  # Class attribute

    def __init__(self, name):
        self.name = name  # Instance attribute

dog1 = Dog("Buddy")
dog2 = Dog("Max")

print(dog1.species)  # Output: Canis familiaris
print(dog1.name)     # Output: Buddy

Canis familiaris
Buddy

Adding Methods

In [59]:
class Calculator:
    def add(self, a, b):
        return a + b

calc = Calculator()
print(calc.add(5, 3))  # Output: 8

8

Updating Attributes

In [60]:
person1.age = 26  # Change attribute
person1.greet()   # Output: Hello, my name is Manoj and I'm 26 years old.

Hello, my name is Manoj and I'm 26 years old.

What is __init__?

__init__ is a special method in Python classes.

It’s called automatically whenever a new object is created.

It’s used to initialize object attributes (set up the object’s initial state).

In [61]:
class Person:
    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age

    def greet(self):
        print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

# Creating an object calls __init__ automatically
p1 = Person("Manoj", 25)
p1.greet()

Hi, I'm Manoj and I'm 25 years old.

Example with Default Values

In [62]:
class Car:
    def __init__(self, brand="Unknown", year=2020):
        self.brand = brand
        self.year = year

car1 = Car("Toyota", 2023)
car2 = Car()  # Uses default values

print(car1.brand, car1.year)  # Toyota 2023
print(car2.brand, car2.year)  # Unknown 2020

Toyota 2023
Unknown 2020

#Instance Variables

Belong to each object (instance) of the class.

Defined inside __init__ using self.

Each object gets its own copy of the variable.

Changing in one object does not affect others.

Example:

| Feature       | Instance Variable             | Class Variable               |
| ------------- | ----------------------------- | ---------------------------- |
| Defined in    | `__init__` (with `self`)      | Class body (outside methods) |
| Belongs to    | Specific object               | Class itself                 |
| Storage       | Separate copy for each object | Shared single copy           |
| Change effect | Affects only that object      | Affects all objects          |

In [63]:
class Dog:
    def __init__(self, name):
        self.name = name  # Instance variable

dog1 = Dog("Buddy")
dog2 = Dog("Max")

dog1.name = "Charlie"  # Change only dog1's name

print(dog1.name)  # Charlie
print(dog2.name)  # Max

Charlie
Max

2. Class Variables

Shared across all instances of the class.

Defined outside any method in the class body.

Changing via the class name affects all objects.

Example:

In [64]:
class Dog:
    species = "Canis familiaris"  # Class variable

    def __init__(self, name):
        self.name = name  # Instance variable

dog1 = Dog("Buddy")
dog2 = Dog("Max")

print(dog1.species)  # Canis familiaris
print(dog2.species)  # Canis familiaris

Dog.species = "Canis lupus familiaris"  # Change for all
print(dog1.species)  # Canis lupus familiaris
print(dog2.species)  # Canis lupus familiaris

Canis familiaris
Canis familiaris
Canis lupus familiaris
Canis lupus familiaris

Instance vs Class Variable in One Class

In [65]:
class Car:
    wheels = 4  # Class variable (same for all)

    def __init__(self, color):
        self.color = color  # Instance variable

car1 = Car("Red")
car2 = Car("Blue")

print(car1.color, car1.wheels)  # Red 4
print(car2.color, car2.wheels)  # Blue 4

Car.wheels = 6  # Change for all
print(car1.wheels, car2.wheels)  # 6 6

Red 4
Blue 4
6 6

#What is Inheritance?
Inheritance lets you create a new class from an existing class so the child class automatically inherits attributes & methods from the parent class.

Benefits:

Reuse code (don’t rewrite common features).

Extend or modify existing behavior.

Build hierarchical relationships.

In [68]:
class Parent:
    def greet(self):
        print("Hello from Parent")

class Child(Parent):  # Inheriting Parent
    pass

obj = Child()
obj.greet()  # Output: Hello from Parent

Hello from Parent

Method Overriding

Child can replace a method from Parent.

In [69]:
class Parent:
    def greet(self):
        print("Hello from Parent")

class Child(Parent):
    def greet(self):
        print("Hello from Child")

obj = Child()
obj.greet()  # Output: Hello from Child

Hello from Child

super() — Call Parent Methods

In [70]:
class Parent:
    def __init__(self, name):
        self.name = name

class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)  # Calls Parent's __init__
        self.age = age

c = Child("Manoj", 25)
print(c.name, c.age)  # Manoj 25

Manoj 25

Types of Inheritance in Python

(a) Single Inheritance

One parent → one child.

In [71]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def bark(self):
        print("Dog barks")

d = Dog()
d.speak()
d.bark()

Animal speaks
Dog barks

Multiple Inheritance

Child inherits from two or more parents.

In [72]:
class Father:
    def skill(self):
        print("Father's skill: Driving")

class Mother:
    def hobby(self):
        print("Mother's hobby: Painting")

class Child(Father, Mother):
    pass

c = Child()
c.skill()
c.hobby()

Father's skill: Driving
Mother's hobby: Painting

Multilevel Inheritance

Grandparent → Parent → Child.

In [73]:
class Grandparent:
    def greet(self):
        print("Hello from Grandparent")

class Parent(Grandparent):
    pass

class Child(Parent):
    pass

c = Child()
c.greet()

Hello from Grandparent

Hierarchical Inheritance

One parent → multiple children

In [74]:
class Vehicle:
    def start(self):
        print("Vehicle starts")

class Car(Vehicle):
    pass

class Bike(Vehicle):
    pass

car = Car()
bike = Bike()
car.start()
bike.start()

Vehicle starts
Vehicle starts

Hybrid Inheritance

Combination of multiple inheritance types.

In [75]:
class A:
    def method_a(self):
        print("Method A")

class B(A):
    def method_b(self):
        print("Method B")

class C:
    def method_c(self):
        print("Method C")

class D(B, C):
    pass

d = D()
d.method_a()
d.method_b()
d.method_c()

Method A
Method B
Method C

Method Resolution Order (MRO)
When using multiple inheritance, Python follows C3 Linearization to decide which class’s method to call

In [76]:
print(D.mro())

[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.A'>, <class '__main__.C'>, <class 'object'>]

# What is Polymorphism?
The word Polymorphism means many forms.
In Python OOP, it allows:

Same function/method name to work differently for different classes or objects.

Increases flexibility and code reuse.

 Types of Polymorphism in Python
(a) Polymorphism with Functions
Same function works with different types of objects.

In [77]:
print(len("Python"))   # String → 6
print(len([1, 2, 3]))  # List → 3

6
3

Polymorphism with Class Methods
Two or more classes have the same method name but different implementations.

In [78]:
class Dog:
    def speak(self):
        return "Woof!"

class Cat:
    def speak(self):
        return "Meow!"

for animal in [Dog(), Cat()]:
    print(animal.speak())

Woof!
Meow!

Polymorphism with Inheritance (Method Overriding)

In [79]:
class Animal:
    def speak(self):
        return "Animal sound"

class Dog(Animal):
    def speak(self):
        return "Bark"

class Cat(Animal):
    def speak(self):
        return "Meow"

animals = [Dog(), Cat(), Animal()]
for a in animals:
    print(a.speak())

Bark
Meow
Animal sound

Polymorphism with super()

You can extend the parent’s behavior.

In [80]:
class Shape:
    def area(self):
        return 0

class Rectangle(Shape):
    def __init__(self, w, h):
        self.w = w
        self.h = h
    def area(self):
        return super().area() + (self.w * self.h)

r = Rectangle(5, 4)
print(r.area())  # 20

20

Duck Typing

Python doesn’t require strict type checking — if an object has the required method, it works.

In [81]:
class Bird:
    def fly(self):
        print("Bird flies")

class Airplane:
    def fly(self):
        print("Airplane flies")

def let_it_fly(thing):
    thing.fly()

let_it_fly(Bird())
let_it_fly(Airplane())

Bird flies
Airplane flies

#What is Encapsulation?
Encapsulation means wrapping data (variables) and methods (functions) together inside a single unit (class) and restricting direct access to some of the object’s components.

In Python:

Encapsulation is used to protect data from outside interference.

Access to data is controlled through public, protected, and private attributes.

| Type          | Syntax Prefix | Accessible From                             |
| ------------- | ------------- | ------------------------------------------- |
| **Public**    | none          | Anywhere                                    |
| **Protected** | `_`           | Within class and subclasses (by convention) |
| **Private**   | `__`          | Only within the same class (name mangling)  |

 Public Members

Accessible from anywhere.

In [82]:
class Car:
    def __init__(self, brand):
        self.brand = brand  # public

car = Car("Toyota")
print(car.brand)  # Accessible

Toyota

 Protected Members (_)

By convention, should be accessed only in class & subclasses.

In [83]:
class Car:
    def __init__(self, brand):
        self._brand = brand  # protected

class SportsCar(Car):
    def display(self):
        print(f"SportsCar brand: {self._brand}")

sc = SportsCar("Ferrari")
sc.display()
print(sc._brand)  # Technically accessible, but not recommended

SportsCar brand: Ferrari
Ferrari

Private Members (__)

Not directly accessible — Python changes the name internally (name mangling).

In [84]:
class Car:
    def __init__(self, brand):
        self.__brand = brand  # private

    def get_brand(self):
        return self.__brand  # public getter

c = Car("BMW")
# print(c.__brand)  # ❌ Error: AttributeError
print(c.get_brand())  # ✅ BMW

BMW

Why Encapsulation?

Data Hiding → Prevents accidental changes.

Controlled Access → Use getters & setters to validate changes.

Flexibility → Internal changes won’t affect external code.

Example with Getters and Setters

In [85]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance  # private

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount

    def get_balance(self):
        return self.__balance

acc = BankAccount("John", 1000)
acc.deposit(500)
print(acc.get_balance())  # 1500

1500

#What is Abstraction?
Abstraction means hiding the internal implementation details of a class/method and only exposing the necessary functionalities to the user.
It focuses on what an object does rather than how it does it.

In Python:

We implement abstraction using the abc module (Abstract Base Classes).

Abstract classes can have abstract methods (no implementation) and concrete methods (with implementation).

Key Points
Abstract Class → A class that cannot be instantiated.

Abstract Method → A method declared but not defined in the base class — must be overridden in subclasses.

Use @abstractmethod decorator from abc module.

Simple Method

In [86]:
from abc import ABC, abstractmethod

# Abstract Base Class
class Shape(ABC):
    @abstractmethod
    def area(self):
        pass  # Only a declaration, no implementation

    @abstractmethod
    def perimeter(self):
        pass

# Subclass must implement abstract methods
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

# Cannot create object of Shape directly
# shape = Shape()  # ❌ Error

rect = Rectangle(10, 5)
print("Area:", rect.area())        # Area: 50
print("Perimeter:", rect.perimeter())  # Perimeter: 30

Area: 50
Perimeter: 30

Benefits of Abstraction

Hides complexity from the user.

Encourages code reusability (common interface, different implementations).

Promotes maintainability (change implementation without affecting outside code)

 Abstract Class with Concrete Methods

An abstract class can also have regular methods.

In [87]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def start(self):
        pass

    def stop(self):  # Concrete method
        print("Vehicle stopped.")

class Car(Vehicle):
    def start(self):
        print("Car started.")

c = Car()
c.start()
c.stop()

Car started.
Vehicle stopped.

# super()
super() is used to call methods from a parent (superclass) inside a child (subclass).

Why use it?
To avoid repeating the parent's method name explicitly.

To make the code easier to maintain (works even if the parent class name changes).

Useful in multiple inheritance to ensure proper method resolution order (MRO).

Example: Using super() in Inheritance

Key Differences:

super() → used inside a class to call parent class methods.

isinstance() → used to check the type of an object at runtime.

In [88]:
class Person:
    def __init__(self, name):
        self.name = name
        print(f"Person constructor called for {self.name}")

class Student(Person):
    def __init__(self, name, grade):
        super().__init__(name)  # Call parent constructor
        self.grade = grade
        print(f"Student constructor called for {self.name} with grade {self.grade}")

s = Student("Manoj", "A")

Person constructor called for Manoj
Student constructor called for Manoj with grade A

Example: Calling Parent Methods

In [89]:
class Parent:
    def greet(self):
        print("Hello from Parent")

class Child(Parent):
    def greet(self):
        super().greet()  # Call Parent's greet
        print("Hello from Child")

obj = Child()
obj.greet()

Hello from Parent
Hello from Child

isinstance()

isinstance(object, class)

 checks whether an object is an instance of a given class (or subclass).

In [90]:
class Animal:
    pass

class Dog(Animal):
    pass

dog = Dog()

print(isinstance(dog, Dog))      # True (dog is a Dog)
print(isinstance(dog, Animal))   # True (Dog inherits from Animal)
print(isinstance(dog, object))   # True (everything in Python is an object)
print(isinstance(dog, list))     # False

True
True
True
False

Checking Multiple Types
You can pass a tuple of classes to check against multiple types.

In [91]:
print(isinstance(5, (int, float)))    # True
print(isinstance("hello", (int, float))) # False

True
False

# file Handling
The open() Function

In Python, open() is used to open a file and return a file object, which lets you read, write, or append data.

open(file, mode, encoding=None)

Parameters:

file → name or path of the file (e.g., "data.txt" or "C:/folder/data.txt").

mode → file operation mode (default is "r").

encoding → character encoding (commonly "utf-8" for text files).

| Mode  | Meaning                  | Creates File? | Overwrites? |
| ----- | ------------------------ | ------------- | ----------- |
| `"r"` | Read (default)           | ❌ No          | ❌ No        |
| `"w"` | Write                    | ✅ Yes         | ✅ Yes       |
| `"a"` | Append                   | ✅ Yes         | ❌ No        |
| `"x"` | Create (error if exists) | ✅ Yes         | ❌ No        |
| `"b"` | Binary mode              | —             | —           |
| `"t"` | Text mode (default)      | —             | —           |

You can combine modes:

"rb" → read binary

"wt" → write text

"ab" → append binary

Example — Opening and Reading a File

In [93]:
# Create the file with some content first
with open("example.txt", "w", encoding="utf-8") as f:
    f.write("This is some example content.\n")
    f.write("This is the second line.")

print("example.txt created successfully.")

example.txt created successfully.

In [94]:
# Open file in read mode
file = open("example.txt", "r", encoding="utf-8")

# Read content
content = file.read()
print(content)

# Close file
file.close()

This is some example content.
This is the second line.

Best Practice — Using with Statement

Using with automatically closes the file after use (no need for close()).

In [95]:
with open("example.txt", "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

This is some example content.
This is the second line.

Example — Writing to a File

In [96]:
with open("example.txt", "w", encoding="utf-8") as file:
    file.write("Hello, world!\n")
    file.write("This is Python file handling.")

| Mode  | Description                                                         | File Created if Missing? | Overwrites Data? |
| ----- | ------------------------------------------------------------------- | ------------------------ | ---------------- |
| `"r"` | **Read** (default) – file must exist                                | ❌ No                     | ❌ No             |
| `"w"` | **Write** – creates new file or clears existing file before writing | ✅ Yes                    | ✅ Yes            |
| `"a"` | **Append** – adds data to the end of file                           | ✅ Yes                    | ❌ No             |

Reading Files ("r")

In [97]:
# Open file in read mode
with open("example.txt", "r", encoding="utf-8") as f:
    content = f.read()  # Reads entire file as a string
    print(content)

Hello, world!
This is Python file handling.

In [99]:
# Read only first 10 characters
with open("example.txt", "r", encoding="utf-8") as f:
  print("First 10 characters:", f.read(10))

# Read a single line
with open("example.txt", "r", encoding="utf-8") as f:
  print("First line:", f.readline())

# Read all lines into a list
with open("example.txt", "r", encoding="utf-8") as f:
  print("All lines:", f.readlines())

First 10 characters: Hello, wor
First line: Hello, world!

All lines: ['Hello, world!\n', 'This is Python file handling.']

Writing Files ("w")

In [100]:
# 'w' overwrites the file
with open("example.txt", "w", encoding="utf-8") as f:
    f.write("Hello, Python!\n")
    f.write("This will overwrite existing content.")

Appending Files ("a")

In [101]:
# 'a' adds text to the end of file
with open("example.txt", "a", encoding="utf-8") as f:
    f.write("\nAdding new line without deleting old data.")

Reading + Writing ("r+" / "w+" / "a+")

| Mode   | Meaning         | Behavior                                          |
| ------ | --------------- | ------------------------------------------------- |
| `"r+"` | Read and Write  | File must exist, no truncation                    |
| `"w+"` | Write and Read  | Creates new file or overwrites existing           |
| `"a+"` | Append and Read | Creates file if not exists, starts writing at end |

In [103]:
with open("example.txt", "r+", encoding="utf-8") as f:
    data = f.read()   # Read old data
    f.write("\nNew data here!")  # Append new data

Best Practice — Always Use with
Using with ensures the file is automatically closed:

In [104]:
with open("data.txt", "w", encoding="utf-8") as f:
    f.write("Safe file handling!")

#with Statement
The with statement is used for context management — it ensures that resources (like files) are automatically opened and closed safely.

Example:

In [105]:
# Without 'with' → need to close manually
file = open("test.txt", "w")
file.write("Hello World")
file.close()

# With 'with' → automatically closes file
with open("test.txt", "w", encoding="utf-8") as f:
    f.write("Hello from Python!")

#Working with CSV Files
CSV = Comma-Separated Values — often used for spreadsheets and datasets.
Python’s built-in csv module helps in reading and writing CSV files.

Writing to CSV

In [106]:
import csv

data = [
    ["Name", "Age", "City"],
    ["Alice", 25, "New York"],
    ["Bob", 30, "London"]
]

with open("people.csv", "w", newline='', encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerows(data)  # Write multiple rows

Reading from CSV

In [107]:
import csv

with open("people.csv", "r", encoding="utf-8") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '25', 'New York']
['Bob', '30', 'London']

Reading CSV as Dictionary

In [108]:
import csv

with open("people.csv", "r", encoding="utf-8") as file:
    reader = csv.DictReader(file)
    for row in reader:
        print(row["Name"], row["City"])

Alice New York
Bob London

# Working with JSON Files
JSON = JavaScript Object Notation — a popular data format for APIs and config files.
Python’s built-in json module can serialize and deserialize JSON data.

Writing to JSON

In [109]:
import json

person = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "skills": ["Python", "Data Analysis"]
}

with open("person.json", "w", encoding="utf-8") as file:
    json.dump(person, file, indent=4)  # indent for pretty formatting

Reading from JSON

In [110]:
import json

with open("person.json", "r", encoding="utf-8") as file:
    data = json.load(file)
    print(data["name"], data["skills"])

Alice ['Python', 'Data Analysis']

Converting Between Python Objects and JSON Strings

In [111]:
import json

# Python → JSON string
json_str = json.dumps(person, indent=4)
print(json_str)

# JSON string → Python object
python_obj = json.loads(json_str)
print(python_obj["city"])

{
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "skills": [
        "Python",
        "Data Analysis"
    ]
}
New York

#Advanced Python

What is a List Comprehension?

A List Comprehension is a compact and Pythonic way to create lists from existing iterables (like lists, tuples, ranges, etc.) in one line.

Basic Syntax:

[expression for item in iterable if condition]

In [112]:
# Squares of numbers from 0 to 9
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

With Condition

In [113]:
# Even numbers only
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

Nested Loops

In [114]:
# Cartesian product
pairs = [(x, y) for x in [1, 2, 3] for y in ['A', 'B']]
print(pairs)

[(1, 'A'), (1, 'B'), (2, 'A'), (2, 'B'), (3, 'A'), (3, 'B')]

Nested List Comprehension (Flattening)

In [115]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Applying a Function

In [116]:
words = ["python", "rocks", "comprehensions"]
upper_words = [word.upper() for word in words]
print(upper_words)

['PYTHON', 'ROCKS', 'COMPREHENSIONS']

With if–else in Expression

In [117]:
# Odd → "Odd", Even → "Even"
labels = ["Even" if x % 2 == 0 else "Odd" for x in range(6)]
print(labels)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

 Dictionary & Set Comprehensions

In [118]:
# Dictionary comprehension
squares_dict = {x: x**2 for x in range(5)}
print(squares_dict)

# Set comprehension
squares_set = {x**2 for x in range(5)}
print(squares_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0, 1, 4, 9, 16}

Using Functions Inside List Comprehensions

In [119]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

facts = [factorial(x) for x in range(6)]
print(facts)

[1, 1, 2, 6, 24, 120]

Filtering with Multiple Conditions

In [120]:
nums = [x for x in range(50) if x % 2 == 0 if x % 5 == 0]
print(nums)

[0, 10, 20, 30, 40]

#Dictionary Comprehension
A dictionary comprehension creates dictionaries in a concise way, just like list comprehensions.

{key_expression: value_expression for item in iterable if condition}

In [121]:
# Numbers and their squares
squares_dict = {x: x**2 for x in range(6)}
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

 Filtering

In [122]:
# Squares only for even numbers
even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Swapping Keys and Values

In [123]:
data = {'a': 1, 'b': 2, 'c': 3}
swapped = {v: k for k, v in data.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

Using Functions

In [124]:
def cube(n): return n**3
cubes_dict = {x: cube(x) for x in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

#Set Comprehension
A set comprehension creates sets in one line.
Syntax:

{expression for item in iterable if condition}

In [125]:
nums = {x**2 for x in range(6)}
print(nums)

{0, 1, 4, 9, 16, 25}

Removing Duplicates

In [126]:
words = ["apple", "banana", "apple", "orange", "banana"]
unique_lengths = {len(word) for word in words}
print(unique_lengths)

{5, 6}

With Condition

In [127]:
even_squares = {x**2 for x in range(10) if x % 2 == 0}
print(even_squares)

{0, 64, 4, 36, 16}

From String

In [128]:
chars = {ch for ch in "abracadabra" if ch not in "abc"}
print(chars)

{'r', 'd'}

Advanced Combined Example

In [129]:
students = {"Alice": 85, "Bob": 72, "Charlie": 90, "David": 60}

# Dictionary: Names & Grade Categories
grades = {name: ("Pass" if marks >= 75 else "Fail")
          for name, marks in students.items()}

# Set: All distinct grade results
grade_results = {("Pass" if marks >= 75 else "Fail")
                 for marks in students.values()}

print(grades)
print(grade_results)

{'Alice': 'Pass', 'Bob': 'Fail', 'Charlie': 'Pass', 'David': 'Fail'}
{'Pass', 'Fail'}

#What Are Generators?
A generator is a special type of Python iterator that generates values on the fly instead of storing them in memory.

Memory-efficient — doesn’t store all values at once.

Lazy evaluation — values are produced only when needed.

Created using:

Generator functions → use yield instead of return.

Generator expressions → like list comprehensions but with ().

The yield Keyword

yield pauses the function, saving its state.

When called again, it resumes from where it left off.

Produces a sequence of values over time.

| Feature                   | `return` | `yield`                        |
| ------------------------- | -------- | ------------------------------ |
| Stops function completely | ✅        | ❌ (pauses)                     |
| Returns single value      | ✅        | ❌ (returns multiple over time) |
| Memory efficient          | ❌        | ✅                              |
| Iterable support          | ❌        | ✅                              |

Generator Function Example

In [130]:
def my_generator():
    yield 1
    yield 2
    yield 3

gen = my_generator()

print(next(gen))  # 1
print(next(gen))  # 2
print(next(gen))  # 3

1
2
3

Memory Difference

In [131]:
# List - stores all values (uses more memory)
nums_list = [x**2 for x in range(1000000)]

# Generator - produces values one by one (low memory)
nums_gen = (x**2 for x in range(1000000))

 Fibonacci Generator

In [132]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

for num in fibonacci(6):
    print(num)

0
1
1
2
3
5

Using yield with Conditions

In [133]:
def even_numbers(limit):
    for i in range(limit):
        if i % 2 == 0:
            yield i

for num in even_numbers(10):
    print(num, end=" ")

0 2 4 6 8

Generator Expression

In [134]:
gen_exp = (x**2 for x in range(5))
for val in gen_exp:
    print(val)

0
1
4
9
16

Real-World Use Case — Reading Large Files

In [137]:
# Create a small dummy file named bigdata.txt
with open("bigdata.txt", "w") as f:
    f.write("This is the first line.\n")
    f.write("This is the second line.\n")
    f.write("And this is the third line.")

print("bigdata.txt created successfully.")

bigdata.txt created successfully.

In [138]:
def read_large_file(file_path):
    with open(file_path) as file:
        for line in file:
            yield line.strip()

# Usage:
for line in read_large_file("bigdata.txt"):
    print(line)

This is the first line.
This is the second line.
And this is the third line.

#Iterator vs Generator

| Feature         | Iterator                           | Generator              |
| --------------- | ---------------------------------- | ---------------------- |
| Syntax          | Class with `__iter__` & `__next__` | Function with `yield`  |
| Memory          | Can store all values               | Produces values lazily |
| Code Length     | Longer boilerplate                 | Short and readable     |
| Automatic State | ❌ No, you manage it                | ✅ Yes, auto handled    |
| Use Case        | Complex iteration logic            | Streaming, large data  |

Iterator → when you need full control over iteration logic (custom steps, complex state).

Generator → when you want an easy, memory-efficient way to produce values.

Iterators — The Basics

An iterator is an object that can be iterated (looped) over.

It remembers its state (where it is in iteration).

Must implement:

__iter__() → returns the iterator object itself.

__next__() → returns the next value or raises StopIteration.

In [139]:
# List Iterator
nums = [1, 2, 3]
it = iter(nums)  # Get iterator

print(next(it))  # 1
print(next(it))  # 2
print(next(it))  # 3

1
2
3

 Creating a Custom Iterator

In [140]:
class MyIterator:
    def __init__(self, start, end):
        self.current = start
        self.end = end

    def __iter__(self):
        return self

    def __next__(self):
        if self.current >= self.end:
            raise StopIteration
        self.current += 1
        return self.current - 1

for num in MyIterator(0, 5):
    print(num)

0
1
2
3
4

Generators — A Shortcut for Iterators

A generator is a simpler way to create an iterator:

Uses yield instead of return.

Automatically implements __iter__() and __next__().

Saves memory by producing values lazily.

In [141]:
def my_gen():
    yield 0
    yield 1
    yield 2

for val in my_gen():
    print(val)

0
1
2

Memory Usage Difference

In [142]:
import sys

# List: stores all items
nums_list = [x for x in range(1000000)]
print("List size:", sys.getsizeof(nums_list))

# Generator: stores only state
nums_gen = (x for x in range(1000000))
print("Generator size:", sys.getsizeof(nums_gen))

List size: 8448728
Generator size: 200

#Iterators vs iterables

| Feature        | Iterable                      | Iterator                      |
| -------------- | ----------------------------- | ----------------------------- |
| Definition     | Object you can loop over      | Object that gives next value  |
| Method Needed  | `__iter__()`                  | `__iter__()` & `__next__()`   |
| State Tracking | ❌ No                          | ✅ Yes                         |
| Examples       | list, tuple, str, dict, range | object from `iter()` function |
| Memory         | Can store all items           | Produces items one by one     |

Iterables
An iterable is any object you can loop over (with for or in), but it does not remember its iteration state.

Must implement __iter__() that returns an iterator.

Examples: list, tuple, str, dict, set, range, etc.

In [143]:
nums = [1, 2, 3]   # Iterable
for n in nums:
    print(n)

1
2
3

Iterators
An iterator is the actual object that produces one item at a time on demand.

Must implement:

__iter__() → returns self.

__next__() → returns next value or raises StopIteration.

In [144]:
nums = [1, 2, 3]
it = iter(nums)     # Iterator

print(next(it))  # 1
print(next(it))  # 2
print(next(it))  # 3
# print(next(it))  # Raises StopIteration

1
2
3

Relationship

Think of it like this:

Iterable = “Book” (you can read it, but it doesn’t track the page you’re on).

Iterator = “Bookmark” (remembers where you left off).

In [145]:
# Iterable
nums = [10, 20, 30]

# Create Iterator from Iterable
it = iter(nums)

# Read values
print(next(it))  # 10
print(next(it))  # 20

10
20

#What is next()?
The next() function retrieves the next item from an iterator.
If there are no more items, it raises a StopIteration exception — unless you provide a default value.

next(iterator, default)

In [146]:
numbers = [10, 20, 30]
iterator = iter(numbers)

print(next(iterator))  # 10
print(next(iterator))  # 20
print(next(iterator))  # 30
# print(next(iterator))  # Raises StopIteration

10
20
30

 Using next() with a Default
Instead of raising an error when the iterator is exhausted, you can provide a default:

In [147]:
numbers = [10, 20]
iterator = iter(numbers)

print(next(iterator, "No more items"))  # 10
print(next(iterator, "No more items"))  # 20
print(next(iterator, "No more items"))  # No more items

10
20
No more items

 Common Use Case — Reading from a File

In [150]:
# Create a dummy file named sample.txt
with open("sample.txt", "w") as f:
    f.write("This is the first line.\n")
    f.write("This is the second line.\n")
    f.write("This is the third line.")

print("sample.txt created successfully.")

sample.txt created successfully.

In [151]:
with open("sample.txt") as file:
    line1 = next(file)  # First line
    line2 = next(file)  # Second line
    print(line1.strip(), line2.strip())

This is the first line. This is the second line.

With Generators

In [152]:
def countdown(n):
    while n > 0:
        yield n
        n -= 1

gen = countdown(3)

print(next(gen))  # 3
print(next(gen))  # 2
print(next(gen))  # 1
# print(next(gen)) → StopIteration

3
2
1

#zip()
zip() combines two or more iterables element-wise into tuples.
It stops when the shortest iterable is exhausted.

Syntax:

zip(iterable1, iterable2, ...)

In [153]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]

combined = zip(names, scores)
print(list(combined))
# Output: [('Alice', 85), ('Bob', 92), ('Charlie', 78)]

[('Alice', 85), ('Bob', 92), ('Charlie', 78)]

Use in Loops:

In [154]:
for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Alice scored 85
Bob scored 92
Charlie scored 78

Unequal Lengths:

In [155]:
a = [1, 2, 3]
b = ['x', 'y']
print(list(zip(a, b)))
# Output: [(1, 'x'), (2, 'y')]  → stops at shortest list

[(1, 'x'), (2, 'y')]

#enumerate()
enumerate() adds a counter (index) to an iterable.
Very useful when you need both index and value.

Syntax:

enumerate(iterable, start=0)

In [156]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)
# Output:
# 0 apple
# 1 banana
# 2 cherry

0 apple
1 banana
2 cherry

Custom Start Index:

In [157]:
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)
# Output:
# 1 apple
# 2 banana
# 3 cherry

1 apple
2 banana
3 cherry

zip() + enumerate() Together

You can combine them when you want indexed pairs:

In [158]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]

for idx, (name, score) in enumerate(zip(names, scores), start=1):
    print(f"{idx}. {name} scored {score}")

1. Alice scored 85
2. Bob scored 92
3. Charlie scored 78